@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@500;600;700&display=swap");
body {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  color: #222;
  font-weight: normal;
  line-height: 1.8;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
}

::selection {
  background: #083388;
  color: #fff;
}

::-moz-selection {
  background: #083388;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .ah:hover {
    opacity: 1;
  }
}
/**
 * scroll bar
 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #083388;
  background: linear-gradient(0deg, rgba(var(--color-blue), 1) 0%, rgba(var(--color-green), 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-gold));
  margin: 2px;
  box-shadow: none;
}

.font-en {
  font-family: "Cormorant Garamond", serif;
}

.font-mincho {
  font-family: "Shippori Mincho", serif;
}