// top
@import "../mixin/index";

/*-----------------------------------------------
* bcp
-------------------------------------------------*/

/* necessity */
.bcp .necessity {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__inner {
    border: 1px solid $color-gray-300;
    padding: $size-32 $size-32;
    margin-top: $size-64;

    @include mq(md, max) {
      // sp
      margin-top: $size-40;
      padding: vw_max(48px) vw_max(40px);
    }
  }

  &__heading {
    margin-bottom: $size-24;
    font-size: $size-22;
    font-weight: 500;

    @include mq(md, max) {
      // sp
      margin-bottom: vw_max(48px);
      font-size: vw_max(30px);
    }

    &::after {
      content: "";
      display: block;
      width: $size-40;
      height: 2px;
      background-color: $color-blue-dark;
      margin-top: $size-16;

      @include mq(md, max) {
        // sp
        width: vw_max(56px);
        margin-top: $size-16;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: $size-16;
    margin-top: $size-40;
    align-items: flex-start;

    @include mq(md, max) {
      // sp
      gap: vw_max(24px);
      margin-top: $size-16;
    }
  }

  &__item {
    // width: calc(50% - vw_min(8px));
    position: relative;
    background-color: $color-gray-100;
    padding: $size-16 $size-24;
    font-size: vw_min(14px);
    letter-spacing: 0;

    @include mq(md, max) {
      // sp
      width: 100%;
      font-size: vw_max(24px);
      padding: vw_max(16px) vw_max(24px);
    }

    > span {
      color: $color-blue-dark;
      font-size: $size-16;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 0;
      margin-top: vw_min(4px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(16px);
        font-size: vw_max(24px);
      }
    }

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $color-blue-dark;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    margin-top: $size-32;
    margin-bottom: $size-32;
    > span {
      display: block;
      width: 0;
      height: 0;
      border-left: $size-40 solid transparent;
      border-right: $size-40 solid transparent;
      border-top: $size-32 solid $color-blue-dark;

      @include mq(md, max) {
        // sp
        border-left: vw_max(40px) solid transparent;
        border-right: vw_max(40px) solid transparent;
        border-top: $size-16 solid $color-blue-dark;
      }
    }
  }
  &__result {
    > p {
      font-size: $size-22;
      text-align: center;
      color: $color-blue-dark;
      text-decoration: underline;
      font-weight: 500;

      @include mq(md, max) {
        // sp
        font-size: $size-16;
        line-height: 1.5;
      }
    }
  }
}

/* secure */
.bcp .secure {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__img {
    @include mq(md, max) {
      // sp
      margin-top: $size-40;
    }
  }

  &__cards {
    margin-top: $size-40;

    @include mq(md, max) {
      // sp
      margin-top: $size-40;
    }

    &--list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--item {
      width: calc(50% - $size-16);

      @include mq(md, max) {
        // sp
        width: 100%;
      }
    }
  }
}

/* plan */
.bcp .plan {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__cards {
    &--list {
      display: flex;
      flex-direction: column;
      gap: $size-64;

      @include mq(md, max) {
        // sp
        gap: $size-60;
      }
    }
    &--item {
      display: flex;
      gap: $size-40;

      @include mq(md, max) {
        // sp
        gap: $size-16;
      }

      &._reverse {
        flex-direction: row-reverse;
      }
    }
    &--img {
      width: vw_min(320px);

      @include mq(md, max) {
        // sp
        width: calc(50% - vw_max(16px));
      }

      > img {
        max-width: 100%;
      }
    }
    &--contents {
      width: calc(100% - vw_min(320px));
      // margin-left: $size-32;
    }
    &--dt {
      font-size: $size-24;
      font-weight: 500;
      color: $color-blue-dark;

      @include mq(md, max) {
        // sp
        font-size: $size-16;
      }

      &::after {
        content: "";
        display: block;
        width: $size-40;
        height: 2px;
        background-color: $color-blue-dark;
        margin-top: $size-32;
        margin-bottom: $size-32;

        @include mq(md, max) {
          // sp
          height: 1px;
          margin-top: $size-16;
          margin-bottom: $size-24;
        }
      }
    }
    &--dd {
      font-size: $size-16;
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        font-size: $size-14;
      }
    }
  }
}
