// top
@import "../mixin/index";

/*-----------------------------------------------
* case
-------------------------------------------------*/

/* case */
.case {
  overflow: hidden;

  &__block + &__block {
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid $color-gray-300;
  }
}

/* case-pickup */
.case-pickup {
  .caseRow {
    margin-top: calc($section-gap / 2);

    @include mq(md, max) {
      // sp
      margin-top: calc($section-gap / 3);
    }

    &__title {
      font-size: $size-24;
      color: $color-blue-dark;
      letter-spacing: -0.05em;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: $size-8;
      margin-bottom: $size-40;

      @include mq(md, max) {
        // sp
        font-size: vw_max(40px);
      }

      &::after {
        content: "";
        display: block;
        width: $size-40;
        height: 2px;
        background-color: $color-orange;
        margin-top: $size-10;

        @include mq(md, max) {
          // sp
          width: vw_max(40px);
          margin-top: vw_max(10px);
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(56px);
        margin-bottom: vw_max(80px);
      }
    }

    &__card {
      position: relative;
      border: 1px solid $color-gray-300;
      background-color: #fff;
      // border-radius: 4px;

      @include mq(md, max) {
        // sp
        gap: vw_max(32px);
      }

      &--link {
        display: flex;
        gap: $size-24;
        padding: $size-24;

        @include mq(md, max) {
          // sp
          flex-direction: column;
          gap: $size-16;
          padding: $size-16;
        }

        &::after {
          position: absolute;
          right: 0;
          bottom: $size-24;
          width: $size-32;
          height: $size-24;
          transition: transform 0.3s ease;
          @include icon-mask(
            $path + "common/icon/icon-arrow.svg",
            $color-blue-dark
          );

          @include mq(md, min) {
            // pc
            transform: translateX(-24px);
          }

          @include mq(md, max) {
            // sp
            right: 16px;
            bottom: vw_max(24px);
          }
        }

        &:hover {
          background-color: rgba($color: $color-blue, $alpha: 0.05);
          .caseRow__card--thumb img {
            transform: scale(1.1);
          }

          &::after {
            transform: translateX(-8px);
            right: 0;
          }
        }
      }

      &--thumb {
        // margin-top: $size-40;
        overflow: hidden;
        position: relative;

        @include mq(md, min) {
          // pc
          aspect-ratio: 3 / 1;
        }

        > img {
          width: 100%;
          display: block;
          object-fit: cover;
          transition: 0.3s;

          // @include mq(md, min) {
          //   // pc
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   transform: translate(-50%, -50%);
          // }
        }
      }

      &--contents {
        width: calc(100% - vw_min(240px) - $size-24);
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 8px;

        @include mq(md, max) {
          // sp
          width: 100%;
          padding: $size-24 $size-16;
          gap: $size-8;
        }
      }

      &--date {
        color: #6d6b80;
        font-size: vw_min(13px);
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }
      }

      &--company {
        font-size: $size-14;
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }
      }

      &--title {
        margin-top: 8px;
        font-size: $size-16;
        line-height: 1;
        font-weight: 500;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(26px);
          line-height: 1.5;
        }

        &:hover {
          color: $color-blue;
        }
      }

      &--desc {
        margin-top: $size-8;
        font-size: $size-14;

        font-weight: 400;
        line-height: 1.25;
        overflow: hidden;

        @include mq(md, max) {
          // sp
          font-size: vw_max(22px);
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      &--tag {
        display: flex;
        flex-wrap: wrap;
        gap: 4px 8px;
        margin-top: 4px;
        font-size: vw_min(13px);
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: vw_max(22px);
          gap: $size-8;
        }

        > span.tag {
          color: $color-blue-dark;

          @include mq(md, max) {
            // sp
            font-size: vw_max(22px);
            line-height: 1;
          }
        }
      }

      &--tags {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 12px;
        padding-top: 16px;
        border-top: 1px solid rgba($color: #000, $alpha: 0.3);

        @include mq(md, max) {
          // sp
          gap: $size-8;
          margin-top: $size-16;
          padding-top: $size-16;
        }
      }
    }

    &__card + &__card {
      border-top: 1px solid $color-gray-200;
    }

    &__linkButton {
      margin: 40px auto 80px;

      @include mq(md, max) {
        // sp
        margin: vw_max(40px) auto;
      }
    }
  }

  // &__block {
  // }

  // &__row {
  // }
  // .pickup__row {
  //   display: flex;
  //   gap: 32px;
  //   background-color: #fff;
  //   border-radius: 5px;
  //   border: 1px solid $color-gray-300;
  //   box-shadow: 1px 1px 10px 0px $color-gray-200;
  //   overflow: hidden;

  //   &:hover {
  //     .pickup__row--thumbnail > img {
  //       transform: scale(1.1);
  //     }
  //     .pickup__row--title {
  //       color: $color-blue;
  //     }
  //   }

  //   &--thumbnail {
  //     width: 28%;
  //     overflow: hidden;

  //     > img {
  //       max-width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //       transition: 0.3s;
  //     }
  //   }

  //   &--contents {
  //     width: calc(100% - 28%);
  //     padding: 8px 32px 8px 8px;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     gap: 16px;
  //   }

  //   &--sub,
  //   &--title {
  //     display: block;
  //   }

  //   &--sub {
  //     font-size: $size-14;
  //     line-height: 1;
  //   }
  //   &--title {
  //     font-size:$size-16;
  //     color: $color-blue-dark;
  //     font-weight: 500;
  //     line-height: 1;
  //     transition: 0.3s;
  //   }
  //   &--desc {
  //     font-size: vw_min(13px);
  //     line-height: 1.25;
  //     overflow: hidden;

  //     > span {
  //       display: -webkit-box;
  //       -webkit-box-orient: vertical;
  //       -webkit-line-clamp: 2;
  //     }
  //   }
  //   &--tags {
  //     padding-top: 12px;
  //     border-top: 1px solid rgba($color: #000, $alpha: 0.3);

  //     > ul {
  //       display: flex;
  //       gap: 16px;
  //     }

  //     ul + ul {
  //       margin-top: 8px;
  //     }
  //   }
  //   &--tagItem {
  //     font-size: vw_min(13px);
  //   }
  // }
  // .pickup__row + .pickup__row {
  //   margin-top: 40px;
  // }
}

/* case-types */
.case-types {
  .subCase {
    @include mq(md, min) {
      // pc
      margin-top: 64px;
    }
  }
  &__listBox {
    padding: $size-24;
    margin: 0 auto;
    border: 1px solid $color-gray-300;
  }
  &__list {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, minmax(calc(100% / 5 - 8px), 1fr));

    @include mq(md, max) {
      // sp
      grid-template-columns: repeat(3, minmax(calc(100% / 3 - 8px), 1fr));
    }
  }
  &__item {
    > a {
      border-radius: 3px;
      background-color: $color-gray-100;
      display: block;
      padding: 4px 0;

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.2);
      }

      span {
        display: block;
        text-align: center;
        font-size: $size-16;
        color: $color-blue-dark;
        font-weight: 500;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
    }
  }
  &__linkButton {
    margin: 40px auto 80px;

    @include mq(md, max) {
      // sp
      margin: vw_max(40px) auto;
    }
  }
}

/* ページ詳細 */
.caseDetail {
  padding-bottom: 80px;

  &__subtitle {
    font-size: 1rem;
    color: $color-blue-dark;
    margin-bottom: 24px;
    line-height: 1;
    font-weight: 500;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 16px;
      background-color: $color-blue-dark;
    }
  }

  &__update {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    &--date {
      > span {
        font-size: $size-14;
      }
    }
    &--share {
      > span {
        font-size: $size-14;
      }
    }
  }

  &__head {
    gap: 4px 32px;
    display: grid;
    height: -moz-fit-content;
    height: fit-content;
    grid-template-rows: 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-gray-300;
    @include mq(md, max) {
      // sp
      margin-top: 24px;
      margin-bottom: 24px;
      padding-bottom: 24px;
    }
    .-detail-a & {
      grid-template-columns: minmax(auto, 150px) 1fr;
      grid-template-areas:
        "logo heading"
        "logo company"
        "logo interviewee";

      @include mq(md, max) {
        // sp
        gap: 16px;
        grid-template-areas:
          "heading heading"
          "logo company"
          "logo interviewee";
        grid-template-columns: minmax(70px, 20%) 1fr;
        grid-template-rows: auto auto 1fr;
      }
    }

    .-detail-b & {
      grid-template-columns: 1fr;
      grid-template-areas:
        "heading"
        "company"
        "interviewee";
    }

    &--logo {
      aspect-ratio: 1 / 1;
      grid-area: logo;

      > img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
    &--heading {
      grid-area: heading;
      // font-size: 2rem;
      // font-weight: 600;
      // line-height: 1.5;
      margin-bottom: 0;
      color: $color-blue-dark;
      padding-bottom: 8px;
    }
    &--company {
      grid-area: company;
      font-size: 0.875rem;
      font-weight: 500;
    }
    &--interviewee {
      grid-area: interviewee;
      font-size: 0.875rem;
      font-weight: medium;
    }
  }

  &__headDesc {
    background-color: $color-gray-100;
    padding: 24px;

    &--dl {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      @include mq(md, max) {
        // sp
        gap: 8px;
      }
    }
    &--item {
      display: flex;

      &.__full {
        @include mq(md, max) {
          // sp
          flex-direction: column;
        }
      }
    }
    &--dt,
    &--dd {
      font-size: 0.875rem;
      line-height: 1.3;
    }
    &--dt {
      display: flex;
      justify-content: flex-start;

      .__full & {
        width: 72px;
      }

      &::after {
        content: "：";
        display: block;
      }
    }
    &--dd {
      .__full & {
        @include mq(md, min) {
          // pc
          width: calc(100% - 72px);
        }
      }
    }
  }

  &__tag {
    margin-top: 32px;

    &__list {
      display: flex;
      align-items: center;
    }
  }

  &__images {
    margin-top: 40px;

    @include mq(md, max) {
      // sp
      margin-right: -7.3%;
      margin-left: -7.3%;
    }

    &--list {
      display: flex;
    }

    &--item {
      width: 50%;

      > img {
        display: block;
        max-width: 100%;
        object-fit: fill;
      }
    }
  }

  &__mission {
    margin-top: 80px;

    @include mq(md, max) {
      // sp
      margin-top: 40px;
    }

    &--inner {
      border: 1px solid $color-gray-300;
      padding: $size-40 vw_min(56px);

      @include mq(md, max) {
        // sp
        padding: vw_max(48px) vw_max(40px);
        background-color: $color-gray-100;
      }
    }

    &--heading {
      margin-bottom: $size-24;
      font-size: vw_min(22px);
      font-weight: 500;

      @include mq(md, max) {
        // sp
        margin-bottom: vw_max(24px);
        font-size: vw_max(32px);
      }

      &::after {
        content: "";
        display: block;
        width: $size-40;
        height: 2px;
        background-color: $color-blue-dark;
        margin-top: $size-16;

        @include mq(md, max) {
          // sp
          width: vw_max(56px);
          margin-top: vw_max(16px);
        }
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: $size-16;
      margin-top: $size-40;
      background-color: $color-gray-100;

      @include mq(md, min) {
        // pc
        padding: 24px;
      }

      @include mq(md, max) {
        // sp
        gap: vw_max(16px);
        margin-top: 40px;
      }
    }

    &--item {
      display: flex;
      gap: $size-16;
      font-size: $size-16;
      // font-weight: 500;
      letter-spacing: -0.025em;

      @include mq(md, max) {
        // sp
        gap: vw_max(24px);
        font-size: $size-14;
        line-height: 1.75;
        align-items: center;
      }

      .icon_circle_in_check {
        width: vw_min(32px);
        height: vw_min(32px);
        position: relative;

        @include mq(md, max) {
          // sp
          width: $size-32;
          height: $size-32;
        }

        &::before {
          content: "";
          display: block;
          background-color: $color-blue-dark;
          border-radius: 100px;
          width: 100%;
          height: 100%;

          @include mq(md, max) {
            // sp
            width: 32px;
            height: 32px;
          }
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
          display: block;
          width: $size-16;
          height: $size-16;
          @include icon-mask($path + "common/icon/icon-check.svg", #fff);

          @include mq(md, max) {
            // sp
            width: vw_max(28px);
            height: vw_max(28px);
          }
        }
      }
    }

    &--arrow {
      display: flex;
      justify-content: center;
      margin-top: vw_min(32px);
      margin-bottom: vw_min(32px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        margin-bottom: vw_max(32px);
      }

      > span {
        display: block;
        width: 0;
        height: 0;
        border-left: $size-40 solid transparent;
        border-right: $size-40 solid transparent;
        border-top: vw_min(32px) solid $color-blue-dark;

        @include mq(md, max) {
          // sp
          border-left: vw_max(40px) solid transparent;
          border-right: vw_max(40px) solid transparent;
          border-top: vw_max(32px) solid $color-blue-dark;
        }
      }
    }

    &--result {
      > p {
        font-size: vw_min(22px);
        text-align: center;
        color: $color-blue-dark;
        text-decoration: underline;
        font-weight: 500;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
    }
  }

  &__contentsDesc {
    margin-top: 80px;
    padding-top: 80px;

    @include mq(md, max) {
      // sp
      margin-top: 40px;
      padding-top: 40px;
    }

    // position: relative;

    // .-detail-b & {
    //   &::before {
    //     position: absolute;
    //     top: 0;
    //     width: 200%;
    //     content: "";
    //     display: block;
    //     border-top: 1px solid $color-gray-300;
    //     margin-left: -16%;
    //     margin-right: -16%;
    //   }
    // }

    &--dl {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 16px;

      @include mq(md, max) {
        // sp
        gap: 16px;
      }
    }
    &--item {
      display: flex;
      width: calc(50% - 8px);

      &.__full {
        width: 100%;

        @include mq(md, max) {
          // sp
          flex-direction: column;
        }
      }
    }
    &--dt,
    &--dd {
      font-size: 0.9375rem;
      line-height: 1.5;
    }
    &--dt {
      display: flex;
      justify-content: flex-start;
      white-space: nowrap;

      &::after {
        content: "：";
        display: block;
      }
    }
    &--dd {
    }
  }

  &__contents {
    margin-top: 80px;

    > p {
      font-size: 1rem;

      @include mq(md, max) {
        // sp
        font-size: $size-14;
      }
    }
    > img {
      max-width: 100%;
    }

    &--share {
      margin-top: 80px;
    }
  }

  &__use {
    margin-top: 80px;
    background-color: $color-gray-100;

    @include mq(md, min) {
      // pc
      padding: 40px;
    }

    &--inner {
      display: grid;
      grid:
        "heading img" auto
        "text img" auto
        "button img" 1fr / 1fr auto;
      -moz-column-gap: 56px;
      column-gap: 56px;

      @include mq(md, max) {
        // sp
        grid:
          "img" auto
          "heading" auto
          "text" auto
          "button" auto / auto;
        row-gap: 1rem;
        padding: 1.25rem;
      }
    }

    &--heading {
      grid-area: heading;
      font-size: $size-18;
      font-weight: 500;
    }
    &--text {
      margin-top: 16px;
      grid-area: text;
      font-size: $size-16;
      line-height: 1.5;
    }
    &--link {
      margin-top: 32px;
    }
    &--img {
      grid-area: img;
      justify-self: center;

      @include mq(md, min) {
        // pc
        width: 360px;
      }

      > img {
        max-width: 100%;
        display: block;
        object-fit: fill;
      }
    }
  }

  &__inquiry {
    margin-top: 80px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px $color-gray-100;

    &--inner {
    }

    &--heading {
      font-size: $size-18;
      font-weight: 500;
      text-align: center;
    }
    &--links {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 24px;

      .sub__headingAction--list {
        max-width: 60%;
        width: 100%;

        @include mq(md, max) {
          // sp
          flex-direction: column;
        }
      }

      .sub__headingAction--item {
        @include mq(md, max) {
          // sp
          width: 100%;
        }
      }
    }
  }

  &__linkBack {
    display: block;

    @include mq(md, min) {
      // pc
      max-width: 400px;
      margin: 80px auto 0;
    }

    @include mq(md, max) {
      // sp
      margin: 40px auto 0;
    }
  }

  &__other {
    padding-top: 80px;
  }
}
