// top
@import "../mixin/index";

/*-----------------------------------------------
* contact
-------------------------------------------------*/
.contact {
  max-width: 1600px;
  margin: 0 auto;
  padding: $size-80 $size-40;

  @include mq(md, max) {
    // sp
    padding: $size-40 6%;
  }

  &__form {
    color: #222;
    line-height: 1.75;

    &--headingComment {
      font-size: $size-16;
      text-align: center;

      @include mq(md, max) {
        // sp
        font-size: $size-15;
      }
    }
    &--headingCaution {
      font-size: $size-15;
      margin-top: $size-40;
      background-color: $color-gray-200;
      padding: $size-24 $size-40;
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        font-size: $size-14;
        padding: $size-16 $size-16;
        line-height: 1.5;
      }

      .bg-red {
        background-color: $color-red;
        line-height: 1;
        color: #fff;
        padding: 0 4px;
      }
    }
  }
}
