// top
@import "../mixin/index";

/*-----------------------------------------------
* renewal
-------------------------------------------------*/

.renewal .features {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }
}

.renewal .flow {
  &__service {
    &::after {
      content: "";
      display: block;
      width: $size-80;
      height: $size-40;
      margin: 0 auto;

      @include mq(md, max) {
        // sp
        width: $size-64;
        height: $size-32;
      }

      @include icon-mask(
        $path + "common/icon/icon-arrow-beta.svg",
        $color-blue-dark
      );
    }

    &--inner {
      margin-top: $size-80;
      background-color: #fff;
      border: 1px solid $color-gray-200;
      padding: $size-48 $size-40;
      box-shadow: 1px 1px 10px 0px $color-gray-200;
      margin-bottom: $size-40;

      @include mq(md, max) {
        // sp
        padding: vw_max(48px) vw_max(40px);
      }
    }

    &--title {
      font-size: $size-20;
      font-weight: 500;
      color: $color-blue-dark;
      display: flex;
      flex-direction: column;
      margin-bottom: $size-32;

      @include mq(md, max) {
        // sp
        margin-bottom: $size-24;
      }

      &::after {
        content: "";
        display: block;
        width: $size-32;
        height: 2px;
        background-color: $color-blue-dark;
        margin-top: $size-16;

        @include mq(md, max) {
          // sp
          width: vw_max(56px);
          margin: vw_max(24px) 0;
        }
      }

      &._hasIcon {
        &::before {
          content: attr(data-num);
          display: block;
          font-size: $size-18;
          font-family: $font-mincho;
          margin-right: $size-10;
          letter-spacing: 0;

          @include mq(md, max) {
            // sp
            font-size: vw_max(24px);
          }
        }
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: $size-24;
    }

    &--item {
      padding: $size-24;
      background-color: $color-gray-100;

      @include mq(md, max) {
        // sp
        padding: vw_max(32px);
      }
    }

    &--dt {
      font-size: $size-16;
      color: $color-blue-dark;
      font-weight: 500;
      display: flex;

      &::before {
        content: "";
        display: block;
        margin-right: $size-8;
      }

      &.icon-voice::before {
        width: $size-28;
        height: $size-28;
        @include icon-mask(
          $path + "common/icon/icon-voice.svg",
          $color-blue-dark
        );
      }

      &.icon-graph::before {
        width: $size-28;
        height: $size-28;
        @include icon-mask(
          $path + "common/icon/icon-graph.svg",
          $color-blue-dark
        );
      }
      &.icon-book::before {
        width: $size-22;
        height: $size-28;
        @include icon-mask(
          $path + "common/icon/icon-book.svg",
          $color-blue-dark
        );
      }
    }

    &--dd {
      margin-top: $size-12;
      font-size: $size-14;
      line-height: 1.5;
    }
  }
}
