// top
@import "../mixin/index";

/*-----------------------------------------------
* serviceTop
-------------------------------------------------*/
.serviceTop {
  &__main {
    padding: 0 $size-80;
    margin-top: $size-80;
    border-bottom: 1px solid $color-gray-300;

    @include mq(md, max) {
      // sp
      padding: 0 vw_max(40px);
      margin-top: $size-40;
    }
  }

  &__mainList {
    margin-top: $size-80;
    border-top: 1px solid $color-gray-300;

    @include mq(md, max) {
      // sp
      margin: $size-40 0;
    }
  }

  &__mainItem {
    padding: $size-80 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size-24;

    @include mq(md, max) {
      // sp
      position: relative;
      padding: $size-32 $size-16;
    }

    &--title {
      display: flex;
      flex-direction: column;
      gap: $size-16;
      font-size: $size-15;
      line-height: 1;

      @include mq(md, max) {
        // sp
        gap: $size-8;
      }

      > .font-mincho {
        font-size: $size-24;
        line-height: 1;
        letter-spacing: 0;
        font-weight: 500;
        color: $color-blue-dark;

        &::after {
          content: "";
          display: block;
          width: $size-80;
          height: 1px;
          background-color: $color-blue-dark;
          margin-top: vw_min(32px);

          @include mq(md, max) {
            // sp
            content: none;
          }
        }
      }

      > .font-en {
        display: flex;
        font-size: $size-20;
        letter-spacing: 0;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          margin-left: 0;
          align-items: center;
        }

        &::before {
          display: block;
          margin-right: $size-8;
          font-size: $size-16;
          font-weight: 300;
          letter-spacing: -0.05em;
          font-family: $font-mincho;
          color: $color-blue-dark;

          @include mq(md, max) {
            // sp
            margin-top: -4px;
            font-size: $size-16;
            line-height: 1;
          }

          .-fullorder & {
            content: "#1";
          }
          .-renewal & {
            content: "#2";
          }
          .-maintenance & {
            content: "#3";
          }
        }
      }
    }

    &--text {
      font-size: $size-15;
      line-height: 1.5;
      margin-top: $size-40;
    }

    &--linkList {
      display: flex;
      flex-wrap: wrap;
      gap: $size-24;
      margin-top: $size-48;

      @include mq(md, max) {
        // sp
        width: 50%;
        gap: $size-24;
        margin-top: $size-32;
      }
    }

    &--link {
      @include mq(lg, min) {
        // pc
        min-width: 200px;
      }

      @include mq(md, max) {
        // sp
        width: 100%;
      }

      > a {
        width: 100%;
      }
    }

    &--contents {
      @include mq(md, min) {
        // pc
        width: calc(100% / 2);
      }
    }

    &--img {
      width: calc(100% / 2);
      max-width: 600px;

      @include mq(md, max) {
        // sp
        display: none;
      }

      > img {
        width: 100%;
      }
    }
  }

  &__mainItem + &__mainItem {
    border-top: 1px solid $color-gray-300;
  }

  &__other {
    padding: vw_min(96px) $size-80;

    @include mq(md, max) {
      // sp
      padding: $size-80 vw_max(56px);
    }

    &--title {
      font-size: $size-28;
      display: flex;
      flex-direction: column;
      gap: $size-16;

      @include mq(md, max) {
        // sp
        gap: $size-20;
        font-size: vw_max(36px);
      }

      &::before {
        content: "";
        display: block;
        width: $size-80;
        height: 1px;
        background-color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          width: $size-40;
          margin-top: vw_max(10px);
        }
      }
    }

    &--dl {
      display: flex;

      @include mq(md, min) {
        // pc
        gap: $size-20;
        margin-top: $size-40;
      }

      @include mq(md, max) {
        // sp
        flex-direction: column;
        gap: $size-40;
        margin-top: $size-40;
      }
    }

    &--item {
      @include mq(md, min) {
        // pc
        width: calc(100% / 3 - $size-20);
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: $size-16;
      }

      > img {
        max-width: 100%;
      }
    }

    &--dt {
      width: 100%;
      background-color: $color-blue-dark;
      color: #fff;
      padding: vw_min(10px) $size-16;
      line-height: 1.5;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        padding: vw_max(10px) vw_max(16px);
        font-size: vw_max(28px);
      }
    }

    &--dd {
      font-size: $size-15;
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        font-size: $size-15;
      }
    }

    &--link {
      margin-top: $size-16;

      @include mq(md, max) {
        // sp
        display: flex;
        margin-top: $size-40;
      }

      > a {
        span.icon-link {
          font-size: $size-15;
          display: flex;
          align-items: center;
          gap: $size-16;

          @include mq(md, min) {
            // pc
            justify-content: center;
          }

          &::after {
            position: relative;
            width: $size-18;
            height: $size-18;
            @include icon-mask(
              $path + "common/icon/icon-link.svg",
              $color-blue-dark
            );
            transition: $transition;

            @include mq(md, max) {
              // sp
              width: $size-16;
              height: $size-16;
            }
          }
        }
      }
    }
  }

  &__sub {
    padding: $size-80 vw_min(88px);

    @include mq(md, max) {
      // sp
      padding: $size-40 0;
    }

    &--in {
      display: flex;
      flex-wrap: wrap;

      @include mq(md, min) {
        // pc
        margin-right: $size-40;
      }

      @include mq(md, max) {
        // sp
        flex-direction: column-reverse;
        margin: 0 vw_max(56px);
      }
    }

    &--card {
      border: 1px solid $color-gray-300;
      margin-top: -1px;

      @include mq(md, min) {
        // pc
        width: 50%;
      }
    }

    &--card + &--card {
      @include mq(md, min) {
        // pc
        margin-left: -1px;
      }

      @include mq(md, max) {
        // sp
        margin-top: -1px;
      }
    }

    &--card--img {
      > img {
        width: 100%;
      }

      @include mq(md, max) {
        // sp
        display: none;
      }
    }

    &--card--wrap {
      display: flex;
      gap: $size-24;
      padding: $size-40 $size-32;

      @include mq(md, max) {
        // sp
        gap: $size-12;
        padding: $size-24 $size-16;
      }
    }

    &--card--title {
      min-width: 120px;
      display: flex;
      text-align: center;
      font-size: vw_min(16px);
      line-height: 1.25;
      letter-spacing: 0;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      @include mq(md, max) {
        // sp
        min-width: 110px;
        font-size: $size-15;
        gap: 8px;
      }

      > .font-mincho {
        font-size: $size-12;
        line-height: 1;
        color: $color-gray-300;
        letter-spacing: 0;
      }

      &::before {
        content: "";
        display: block;
        width: $size-80;
        height: $size-80;
        position: relative;
        margin: 0 auto;

        @include mq(md, max) {
          // sp
          width: $size-64;
          height: $size-64;
          margin-bottom: 8px;
        }

        .--advice & {
          background: url($path + "common/icon/icon-service-advice.svg")
            no-repeat center center / contain;
        }
        .--insourcing & {
          background: url($path + "common/icon/icon-service-insourcing.svg")
            no-repeat center center / contain;
        }
        .--bcp & {
          background: url($path + "common/icon/icon-service-bcp.svg") no-repeat
            center center / contain;
        }
        .--offshore & {
          background: url($path + "common/icon/icon-service-offshore.svg")
            no-repeat center center / contain;
        }
      }
    }

    &--card--content {
      display: flex;
      flex-direction: column;

      @include mq(md, min) {
        // pc
        margin-top: $size-16;
      }

      > p {
        font-size: $size-15;
        line-height: 1.5;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
    }
    &--card--link {
      margin-top: vw_min(32px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(40px);
      }
    }
  }
}

/* お客様導入事例 */
.serviceTop .case {
  margin-top: $section-gap;
  padding-bottom: $section-gap;
  margin-bottom: 0;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
    padding-bottom: calc($section-gap / 2);
  }

  &__titleImg {
    padding-top: vw_min(320px);
    padding-bottom: vw_min(64px);
    background: url($path + "top/case/case_bg.jpg") no-repeat center center /
      cover;

    @include mq(md, min) {
      // pc
      background-attachment: fixed;
    }

    @include mq(md, max) {
      // sp
      padding-top: vw_max(240px);
      padding-bottom: vw_max(64px);
    }

    .common__title {
      @include mq(md, min) {
        // pc
        flex-direction: inherit;
        align-items: center;
      }

      @include mq(md, max) {
        // sp
        margin-bottom: 0;
      }
    }

    .common__title,
    .common__title--textIn > span.font-en {
      color: #fff;
    }
    .common__title--text::before {
      background-color: #fff;
    }
    .common__title--desc {
      @include mq(md, min) {
        // pc
        margin-top: $size-40;
      }
    }
  }

  &__toggle {
    border: 1px solid $color-gray-300;

    @include mq(md, min) {
      // pc
      width: calc(100% - $size-80);
      margin: $size-64 0;
      padding: $size-24 $size-32;
    }

    @include mq(md, max) {
      // sp
      width: 100%;
      margin: $size-40 0;
      padding: $size-24 $size-16;
    }

    &--title {
      display: block;
      font-size: $size-18;
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: $size-18;
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-12;
      margin: $size-28 0;

      @include mq(md, max) {
        // sp
        margin: $size-32 0 0;
      }
    }

    &--item {
      width: calc(100% / 5 - vw_min(13px));

      @include mq(md, max) {
        // sp
        width: calc(100% / 2 - vw_max(16px));
      }

      > a {
        display: block;
        font-size: $size-14;
        color: $color-blue-dark;
        text-align: center;
        font-weight: 500;
        padding: $size-8 0;
        border-radius: 4px;
        background-color: $color-gray-200;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba($color: $color-blue, $alpha: 0.2);
        }
      }
    }
  }

  &__inner {
  }

  &__cardList {
    margin-bottom: $size-80;

    @include mq(md, max) {
      // sp
      margin-bottom: $size-40;
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .caseItem {
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    margin-top: -1px;
    margin-right: -1px;

    @include mq(md, min) {
      // pc
      width: calc(100% / 4);
    }

    @include mq(md, max) {
      // sp
      width: calc(100% / 2);
    }

    &__link {
      display: block;

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.05);
        .caseItem__img img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      overflow: hidden;
      > img {
        width: 100%;
        transition: transform 0.3s ease;
      }
    }

    &__contents {
      padding: $size-16 $size-20 $size-20;
      display: flex;
      flex-direction: column;
      gap: $size-12;

      @include mq(md, max) {
        // sp
        padding: $size-24 $size-12;
        gap: $size-12;
      }

      &--company {
        font-size: $size-14;
        letter-spacing: 0;

        @include mq(md, max) {
          // sp
          font-size: $size-12;
        }
      }
      &--title {
        font-size: $size-16;
        font-weight: 500;
        line-height: 1;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
      &--desc {
        font-size: vw_min(13px);
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.25;
        overflow: hidden;

        @include mq(md, max) {
          // sp
          font-size: $size-12;
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      &--tagWrap {
        display: flex;
        flex-wrap: wrap;
        gap: $size-8;

        @include mq(md, max) {
          // sp
          gap: $size-20;
        }
      }

      &--tag {
        display: flex;
        font-size: vw_min(13px);
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-15;
        }

        .tag {
          display: flex;
          gap: $size-8;

          @include mq(md, max) {
            // sp
            gap: vw_max(8px);
          }

          .icon-tag {
            display: flex;
            align-items: center;

            &::before {
              position: relative;
              width: $size-14;
              height: $size-12;
              margin-right: 4px;
              @include icon-mask(
                $path + "common/icon/icon-tag.svg",
                $color-blue-dark
              );
              transition: $transition;

              @include mq(md, max) {
                // sp
                width: $size-14;
                height: $size-12;
              }
            }
          }
        }
      }
    }
  }
}

/* コラム */
.serviceTop .subColumn {
  margin-top: 0;
}
