// top
@import "../mixin/index";

/*-----------------------------------------------
* serviceRow
-------------------------------------------------*/
.serviceRow {
  @include mq(md, max) {
    // sp
    overflow: hidden;
  }
}

/* onayami */
.serviceRow .onayami {
  &__inner {
    border: 1px solid $color-gray-300;
    padding: $size-40 $size-56;

    @include mq(md, max) {
      // sp
      padding: vw_max(48px) vw_max(40px);
      background-color: $color-gray-100;
    }
  }

  &__heading {
    margin-bottom: $size-24;
    font-size: $size-20;
    font-weight: 500;

    @include mq(md, max) {
      // sp
      margin-bottom: $size-14;
      font-size: vw_max(32px);
    }

    &::after {
      content: "";
      display: block;
      width: $size-40;
      height: 2px;
      background-color: $color-blue-dark;
      margin-top: $size-16;

      @include mq(md, max) {
        // sp
        width: vw_max(56px);
        margin-top: vw_max(16px);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $size-16;
    margin-top: $size-40;

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
      margin-top: vw_max(32px);
    }
  }

  &__item {
    display: flex;
    gap: $size-16;
    font-size: $size-16;
    // font-weight: 500;
    letter-spacing: -0.025em;

    @include mq(md, max) {
      // sp
      font-size: $size-14;
      gap: $size-14;
      line-height: 1.75;
      align-items: center;
    }

    .icon_circle_in_check {
      width: $size-32;
      height: $size-32;
      position: relative;

      &::before {
        content: "";
        display: block;
        background-color: $color-blue-dark;
        border-radius: 100px;
        width: $size-32;
        height: $size-32;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        width: $size-16;
        height: $size-16;
        @include icon-mask($path + "common/icon/icon-check.svg", #fff);
      }
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    margin-top: $size-32;
    margin-bottom: $size-32;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(32px);
      margin-bottom: vw_max(32px);
    }

    > span {
      display: block;
      width: 0;
      height: 0;
      border-left: $size-40 solid transparent;
      border-right: $size-40 solid transparent;
      border-top: $size-32 solid $color-blue-dark;

      @include mq(md, max) {
        // sp
        border-left: vw_max(40px) solid transparent;
        border-right: vw_max(40px) solid transparent;
        border-top: vw_max(32px) solid $color-blue-dark;
      }
    }
  }

  &__result {
    > p {
      font-size: $size-22;
      line-height: 1.5;
      text-align: center;
      color: $color-blue-dark;
      text-decoration: underline;
      font-weight: 500;

      @include mq(md, max) {
        // sp
        font-size: $size-18;
      }
    }
  }
}

/* service */
.serviceRow .service {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__img {
    margin-top: 64px;
  }
}

/* price */
.serviceRow .price {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__cards {
    margin-top: 80px;
    @include mq(md, max) {
      // sp
      margin-top: vw_max(80px);
    }
  }

  &__cards--list {
    display: flex;

    @include mq(md, min) {
      // pc
      gap: $size-24;
    }

    @include mq(md, max) {
      // sp
      flex-direction: column;
      gap: vw_max(64px);
    }
  }

  &__cards--item {
    background-color: #fff;
    border: 1px solid $color-gray-200;
    box-shadow: 1px 1px 10px 0px $color-gray-200;
    position: relative;

    @include mq(md, min) {
      // pc
      width: calc(50% - $size-8);
      padding: $size-40 $size-32;
    }

    @include mq(md, max) {
      // sp
      padding: vw_max(40px) vw_max(32px);
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-blue-dark;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__cards--title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    > span {
      display: inline-block;
      text-align: center;
    }

    .title-obi {
      font-size: $size-16;
      line-height: 1;
      background-color: $color-blue-dark;
      color: #fff;
      padding: $size-8 $size-12;

      @include mq(md, max) {
        // sp
        font-size: $size-14;
      }
    }

    .title-small {
      margin-top: $size-16;
      font-size: $size-16;
      color: $color-blue-dark;
      line-height: 1.5;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(20px);
        font-size: vw_max(28px);
        line-height: 1.5;
      }
    }
    .title-large {
      margin-top: $size-8;
      font-size: $size-24;
      color: $color-blue-dark;
      line-height: 1.75;
      font-weight: 600;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(38px);
      }
    }
  }
  &__cards--img {
    margin-top: $size-24;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(48px);
    }

    > img {
      max-width: 100%;
    }
  }

  &__cards--desc {
    margin-top: $size-24;

    > p {
      font-size: $size-15;
      line-height: 1.5;

      @include mq(md, max) {
        // sp
        font-size: $size-14;
      }
    }
  }

  &__caution {
    margin-top: $size-40;
    background-color: $color-gray-200;
    padding: $size-24 $size-32;

    > p {
      font-size: $size-15;
      line-height: 1.5;

      @include mq(md, max) {
        // sp
        font-size: vw_max(22px);
      }
    }
  }
}

/* support */
.serviceRow .support {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__cards {
    margin-top: 64px;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(80px);
    }
  }
  &__cards--list {
    display: flex;
    flex-direction: column;
    gap: $size-40;

    @include mq(md, max) {
      // sp
      gap: $size-24;
    }
  }
  &__cards--item {
    background-color: #fff;
    border: 1px solid $color-gray-200;
    padding: $size-40 $size-32 $size-40 0;
    box-shadow: 1px 1px 10px 0px $color-gray-200;

    @include mq(md, max) {
      // sp
      padding: vw_max(56px) vw_max(40px) vw_max(56px) 0;
    }
  }
  &__cards--title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title-obi {
      min-width: 50%;
      display: inline-block;
      font-size: $size-20;
      line-height: 1;
      background-color: $color-blue-dark;
      color: #fff;
      padding: $size-8 $size-32 $size-8 $size-24;

      @include mq(md, max) {
        // sp
        font-size: $size-16;
        padding: vw_max(8px) vw_max(32px) vw_max(10px) vw_max(28px);
      }
    }
  }
  &__cards--itemIn {
    padding-left: $size-32;

    @include mq(md, max) {
      // sp
      padding-left: vw_max(40px);
    }
  }
  &__cards--desc {
    margin-top: $size-24;
    font-size: $size-15;
    line-height: 1.75;
  }
  &__cards--map {
    margin-top: $size-40;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(md, max) {
      // sp
      margin-top: $size-40;
      gap: $size-24;
    }

    .mapcard {
      padding: $size-24 $size-24;
      background-color: $color-gray-100;

      @include mq(md, max) {
        // sp
        padding: vw_max(40px) vw_max(32px);
      }

      &.__harf {
        width: 100%;

        @include mq(lg, min) {
          // pc
          width: 50%;
        }
      }

      &.__full {
        @include mq(md, max) {
          // sp
          width: 100%;
        }
      }

      &__wrap {
        display: flex;

        @include mq(lg, min) {
          // pc
          align-items: center;
          gap: $size-24;
        }

        @include mq(lg, max) {
          // sp
          width: 100%;
          flex-direction: column-reverse;
          gap: 0;
          align-items: center;
        }
      }

      &__part {
        display: flex;
        justify-content: center;

        > span {
          padding: $size-8 $size-40;
          background-color: $color-blue-dark;
          font-size: $size-18;
          line-height: 1;
          color: #fff;

          @include mq(md, max) {
            // sp
            font-size: $size-14;
          }
        }
      }

      &__title {
        margin-top: $size-16;

        @include mq(md, max) {
          // sp
          margin-top: vw_max(16px);
        }

        > span {
          display: block;
          font-size: $size-17;
          color: $color-blue-dark;
          font-weight: 500;
          letter-spacing: 0;
          text-align: center;

          @include mq(md, max) {
            // sp
            font-size: $size-14;
          }
        }
      }

      &__onayami {
        margin-top: $size-16;
        padding: $size-16 $size-24;
        background-color: #fff;
        min-height: vw_min(170px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4px;

        @include mq(md, max) {
          // sp
          margin-top: vw_max(32px);
          padding: $size-14 vw_max(32px);
          gap: vw_max(16px);
        }

        &--item {
          > span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: $size-15;
            color: $color-blue-dark;
            font-weight: 500;
            letter-spacing: 0;

            @include mq(md, max) {
              // sp
              font-size: $size-14;
            }
          }

          .icon-moya {
            &::before {
              content: "";
              display: block;
              width: $size-24;
              height: $size-24;
              margin-right: $size-8;
              background: url($path + "/common/icon/icon-moya.png") no-repeat;

              @include mq(md, max) {
                // sp
                width: vw_max(40px);
                height: vw_max(40px);
                margin-right: vw_max(16px);
              }
            }
          }
        }
      }

      &__answer {
        margin-top: $size-16;
        padding: $size-16 $size-24;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: $size-16;

        @include mq(md, max) {
          // sp
          padding: vw_max(40px) 0;
          margin-top: $size-14;
          gap: vw_max(40px);
        }

        > img {
          max-width: 100%;
          display: block;
          margin: 0 auto;

          @include mq(md, max) {
            // sp
            width: vw_max(400px);
          }
        }
        > p {
          font-size: $size-15;
          line-height: 1.5;
          font-weight: 500;
          color: $color-blue-dark;
          text-align: center;
          letter-spacing: 0;

          @include mq(md, max) {
            // sp
            font-size: vw_max(21px);
            line-height: 1.5;
          }
        }
      }

      &__contents {
        display: flex;
        gap: $size-24;
        margin-top: $size-24;
        padding: $size-24;
        background-color: #fff;
        justify-content: center;

        @include mq(md, max) {
          // sp
          flex-direction: column;
          gap: $size-16;
          margin-top: $size-14;
          padding: $size-14;
        }
      }

      &__contents--part {
        background-color: $color-gray-100;
        font-size: $size-14;
        color: $color-blue-dark;
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: $size-8;
        padding: $size-8 $size-16;
        text-align: center;
      }

      &__contents--text {
        font-size: $size-14;
        letter-spacing: 0;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }

      &__arrow {
        @include mq(lg, max) {
          // sp
          width: vw_max(32px);
          height: vw_max(136px);
          transform: rotate(90deg);
          margin: calc($size-32 * -1);
        }

        @include mq(md, max) {
          // sp
          margin: calc($size-8 * -1);

          &._vetical {
            margin: calc($size-32 * -1);
          }
        }
      }
    }
  }

  &__cards--tagsdl {
    display: flex;
    flex-direction: column;
    gap: $size-32;
    margin-top: $size-32;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(32px);
      gap: vw_max(16px);
    }
  }

  &__cards--tags {
    background-color: $color-gray-100;
    padding: $size-24 $size-32;

    @include mq(md, max) {
      // sp
      margin-top: $size-14;
      padding: vw_max(32px);
    }
  }

  &__cards--tagdt {
    font-size: $size-18;
    color: $color-blue-dark;
    font-weight: 500;
    letter-spacing: 0;

    @include mq(md, max) {
      // sp
      font-size: $size-15;
    }
  }
  &__cards--tagList {
    display: flex;
    flex-wrap: wrap;
    gap: $size-12;
    margin-top: $size-16;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(32px);
      gap: vw_max(16px);
    }
  }

  &__cards--tagItem {
    position: relative;
    background-color: #fff;
    padding: $size-10 $size-32 $size-12;
    line-height: 1;

    @include mq(md, max) {
      // sp
      padding: $size-8 $size-32 $size-8 $size-16;
    }

    > span {
      color: $color-blue-dark;
      font-size: $size-14;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        display: block;
      }
    }

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $color-blue-dark;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__cards--links {
    margin-top: $size-32;
  }
  &__cards--linkList {
    display: flex;
    flex-wrap: wrap;
    gap: $size-24;

    @include mq(md, max) {
      // sp
      flex-direction: column;
      gap: $size-14;
    }
  }
  &__cards--link {
    // width: calc(50% - $size-12);

    @include mq(md, max) {
      // sp
      width: 100%;
    }

    > a {
      font-weight: 500;
    }
  }
}

/* develop */
.serviceRow .develop {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__inner {
    @include mq(md, max) {
      // sp
      margin: 0;
    }
  }

  &__listBox {
    background-color: #fff;
    border: 1px solid $color-gray-300;
  }

  &__title {
    padding: $size-40 0;

    @include mq(md, max) {
      // sp
      padding: vw_max(40px) 0;
    }

    > span {
      display: block;
      font-size: $size-24;
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(32px);
      }
    }
  }

  &__listWrap {
    margin: 0 auto;
    padding: 0 $size-56;
    margin-bottom: $size-40;

    @include mq(md, max) {
      // sp
      padding: 0 vw_max(32px);
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $size-16;
    margin-bottom: $size-24;

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
    }
  }

  &__item {
    position: relative;
    width: 110px;
    height: 110px;
    background: url($path + "top/develop_bg.svg") no-repeat center center/cover;

    @include mq(md, max) {
      // sp
      width: vw_max(124px);
      height: vw_max(124px);
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      > span {
        font-size: $size-16;
        font-weight: 300;
        letter-spacing: -0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
          gap: vw_max(4px);
        }

        &::after {
          content: "";
          display: block;
        }

        .dev-lang & {
          color: #3298b8;

          &::after {
            width: $size-20;
            height: $size-16;
            @include icon-mask(
              $path + "common/icon/icon-dev-lang.svg",
              #3298b8
            );
          }
        }

        .dev-db & {
          color: #595496;

          &::after {
            width: $size-18;
            height: $size-24;
            @include icon-mask($path + "common/icon/icon-dev-db.svg", #595496);
          }
        }

        .dev-framework & {
          color: #34b881;

          &::after {
            width: $size-18;
            height: $size-24;
            @include icon-mask(
              $path + "common/icon/icon-dev-framework.svg",
              #34b881
            );
          }
        }

        &.text-small {
          font-size: $size-18;
          line-height: 1;
          text-align: center;
        }
      }
    }

    &::before {
      content: "";
      display: block;
    }
  }

  &__modal {
    margin-top: $size-56;
  }
}

/* flow */
.serviceRow .flow {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__img {
    margin-top: 64px;

    > img {
      width: 100%;
    }
  }

  &__list {
    margin-top: 80px;
  }

  &__item {
    padding-bottom: $size-24;

    @include mq(md, max) {
      // sp
      padding-bottom: vw_max(40px);
    }

    &.is-ani .flow__item--dd::before {
      height: calc(100% - $size-8);
    }
  }

  &__item--dt {
    display: flex;
    font-size: $size-20;
    line-height: 1.65;
    font-weight: 500;
    color: $color-blue-dark;

    @include mq(md, max) {
      // sp
      font-size: vw_max(26px);
    }

    .icon-flow {
      background-color: $color-blue-dark;
      width: $size-32;
      height: $size-32;
      margin-right: $size-16;
      position: relative;

      @include mq(md, max) {
        // sp
        width: vw_max(40px);
        height: vw_max(40px);
        margin-right: vw_max(16px);
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: attr(data-num);
        display: block;
        font-size: $size-18;
        font-family: $font-mincho;
        line-height: 0.65;
        letter-spacing: 0;
        color: #fff;

        @include mq(md, max) {
          // sp
          font-size: vw_max(21px);
        }
      }
    }
  }

  &__item--dd {
    padding: $size-24 0 $size-32 $size-56;
    position: relative;
    display: flex;
    font-size: $size-15;

    @include mq(md, max) {
      // sp
      padding: $size-14 0 vw_max(32px) vw_max(56px);
      font-size: $size-14;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 0%;
      background-color: $color-blue-dark;
      position: absolute;
      top: $size-12;
      left: $size-16;
      transition: height 0.3s ease;
      transition-delay: 0.1s;

      @include mq(md, max) {
        // sp
        top: vw_max(0px);
        left: vw_max(20px);
      }
    }
  }

  &__item:last-child .flow__item--dd::before {
    display: none;
  }
}
