// top
@import "../mixin/index";

.contentsTop {
  overflow: hidden;
}

/* mv */
.contentsTop .mv {
  position: relative;
  margin-bottom: $size-80;

  @include mq(md, max) {
    // sp
    margin-bottom: vw_max(160px);
  }

  &__wrap {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABhJREFUGFdjZEACjHp6ev8vXboEphmRZQBrKwWNTXkrSAAAAABJRU5ErkJggg=="),
        url("https://drive.google.com/uc?export=view&id=1D8WqoRgWao_Ac_xUh9cAmozt6JBE0LUx");
      background-repeat: repeat, no-repeat; /* パターンのリピート */
      background-blend-mode: overlay; /* パターンをオ−バーレイにする */
      background-size: auto, cover; /* パターンにautoを指定する */
      position: absolute; /* absolute */
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0.5;
      mix-blend-mode: plus-lighter;
    }
  }

  &__slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    overflow: hidden;

    .swiper-slide {
      position: relative;
      min-height: 100vh;
    }
    .swiper-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
    }
  }

  &__inner {
    min-height: calc(100vh - 32px);
    padding: $size-80 vw_min(56px);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;

    @include mq(md, max) {
      // sp
      min-height: 100svh;
      padding: 0 6%;
    }
  }

  &__catch {
    &--en {
      font-size: $size-24;
      font-weight: 600;
      letter-spacing: 0;
      color: $color-blue;

      @include mq(md, max) {
        // sp
        font-size: $size-20;
      }
    }
    &--ja {
      margin-top: $size-32;
      font-size: vw_min(56px);
      font-weight: 300;
      line-height: 1.25;
      color: #fff;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(64px);
        margin-top: vw_max(32px);
      }
    }
    &--desc {
      margin-top: $size-32;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
      }

      > p {
        font-size: $size-16;
        line-height: 1.25;
        font-weight: 400;
        color: #fff;

        @include mq(md, max) {
          // sp
          font-size: vw_max(28px);
          line-height: 1.75;
        }
      }
    }
  }

  &__progressbar {
    max-width: 320px;
    position: relative;
    width: 100%;
    height: 1px;
    background: #ccc;
    overflow: hidden;
    margin-top: vw_min(64px);

    @include mq(md, max) {
      // sp
      height: 2px;
      margin-top: vw_max(64px);
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      transform-origin: left center;
      background: $color-blue;
      transform: scaleX(0);
      transition-timing-function: linear;
    }
  }

  &__flow {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-inline: 0;
    gap: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    position: absolute;
    bottom: vw_min(-45px);

    @include mq(md, max) {
      // sp
      bottom: vw_max(-80px);
    }

    > span {
      color: #fff;
      font-size: vw_min(160px);
      font-weight: 300;
      line-height: 0.75;
      font-weight: bold;
      white-space: nowrap;
      padding: 0 0.5em 0 0;
      margin: 0;
      animation: marquee-left 16s linear infinite;

      @include mq(md, max) {
        // sp
        font-size: vw_max(160px);
      }
    }
  }

  /* アニメーション */
  @keyframes marquee-left {
    100% {
      transform: translateX(-100%);
    }
  }
}

/* service */
.contentsTop .service {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__title {
    &--desc {
      @include mq(md, min) {
        // pc
        padding: 0 vw_min(88px);
      }
    }
  }

  &__main {
    margin-top: $size-80;

    @include mq(md, max) {
      // sp
      margin-top: vw_max(120px);
      margin-bottom: vw_max(40px);
    }

    &--dl {
      border-top: 1px solid $color-gray-300;
    }
    &--item {
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid $color-gray-300;

      &.-fullorder a::before {
        background: url($path + "top/service_fullorder_bg.jpg?0524") no-repeat
          center center / cover;
      }
      &.-renewal a::before {
        background: url($path + "top/service_renewal_bg.jpg?052402") no-repeat
          center center / cover;
      }
      &.-maintenance a::before {
        background: url($path + "top/service_maintenance_bg.jpg?0524") no-repeat
          center center / cover;
      }
    }
    &--item + &--item {
      border-top: 1px solid $color-gray-300;
    }
    &--link {
      padding: vw_min(48px) vw_min(88px);
      position: relative;
      display: flex;

      @include mq(md, min) {
        // md
        flex-direction: column;
        gap: $size-16;
      }

      @include mq(lg, min) {
        // lg
        gap: $size-80;
        flex-direction: row;
      }

      @include mq(md, max) {
        // sp
        padding: vw_max(48px) 6%;
        flex-direction: column;
        gap: vw_max(16px);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease, transform 0.4s ease;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.01);
      }

      &:hover {
        .service__main--dt .font-mincho,
        .service__main--dt .font-en,
        .service__main--dd {
          color: #fff;
        }
        .service__main--arrow {
          background-color: $color-blue-dark;
          transform: translate(0%, -50%) scale(1.15);
          &::before {
            background-color: #fff;
          }
        }
        &::before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &--dt {
      display: flex;
      flex-direction: column;
      position: relative;

      @include mq(md, min) {
        // pc
        min-width: 320px;
      }

      > .font-mincho {
        display: flex;
        font-size: vw_min(28px);
        letter-spacing: 0;
        font-weight: 400;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
        }
      }

      > .font-en {
        font-size: $size-24;
        letter-spacing: 0;
        display: flex;
        gap: $size-8;
        align-items: center;

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
          margin-left: 0;
        }

        &::before {
          content: attr(data-num);
          display: block;
          font-family: $font-mincho;
          font-size: $size-18;

          @include mq(md, max) {
            // sp
            font-size: $size-14;
          }
        }
      }

      a:hover & {
        .font-mincho,
        .font-en {
          color: #fff;
        }

        .font-mincho::before {
          color: #fff;
        }
      }
    }
    &--dd {
      position: relative;
      font-weight: 400;

      @include mq(md, min) {
        // pc
        padding-top: $size-8;
      }

      @include mq(lg, min) {
        // lg
        width: calc(100% - 320px - $size-40 - $size-80);
      }

      @include mq(md, max) {
        // sp
        font-size: vw_min(36px);
      }

      a:hover & {
        color: #fff;
      }
    }
    &--arrow {
      width: $size-64;
      height: $size-64;
      border-radius: 50rem;
      position: absolute;
      top: 50%;
      right: $size-32;
      transition: $transition;
      transform: translate(0%, -50%);
      background-color: transparent;

      @include mq(md, max) {
        // sp
        width: $size-40;
        height: $size-40;
        top: calc(50% - $size-56);
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $size-32;
        height: $size-8;
        @include icon-mask(
          $path + "common/icon/icon-arrow.svg",
          $color-blue-dark
        );
        transition: $transition;

        @include mq(md, max) {
          // sp
          width: $size-24;
          height: $size-8;
        }
      }
    }
  }

  &__other {
    padding: $size-80;

    @include mq(md, max) {
      // sp
      padding: vw_max(80px) 6%;
    }

    &--title {
      font-size: vw_min(28px);
      display: flex;
      flex-direction: column;
      gap: $size-16;

      @include mq(md, max) {
        // sp
        gap: $size-14;
        font-size: $size-20;
      }

      &::before {
        content: "";
        display: block;
        width: $size-80;
        height: 1px;
        background-color: $color-blue-dark;
        transform: scale(0);
        transform-origin: left;
        transition: $transition;
        transition-delay: 0.05s;

        @include mq(md, max) {
          // sp
          width: vw_max(80px);
          margin-top: vw_max(10px);
        }
      }

      &.is-ani::before {
        transform: scale(1);
      }
    }

    &--dl {
      display: flex;

      @include mq(md, min) {
        // pc
        gap: $size-24;
        margin-top: $size-40;
      }

      @include mq(md, max) {
        // sp
        flex-direction: column;
        gap: vw_max(80px);
        margin-top: vw_max(40px);
      }
    }

    &--item {
      @include mq(md, min) {
        // pc
        width: calc(100% / 3 - $size-24);
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: $size-16;
      }

      > img {
        max-width: 100%;
      }

      &.is-ani {
        $elements-count: 2;
        @for $i from 1 through $elements-count {
          &:nth-of-type(#{$i}) {
            transition-delay: $i * 0.1s;
          }
        }
      }
    }

    &--dt {
      width: 100%;
      background-color: $color-blue-dark;
      color: #fff;
      padding: $size-8 $size-16;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        padding: vw_max(10px) vw_max(16px);
        font-size: vw_max(28px);
      }
    }

    &--dd {
      font-size: vw_min(15px);
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        font-size: $size-14;
      }
    }

    &--link {
      margin-top: $size-16;

      > a {
        @include mq(md, max) {
          // sp
          display: inline-block;
        }

        span.icon-link {
          display: flex;
          align-items: center;

          @include mq(md, min) {
            // pc
            justify-content: center;
            gap: $size-16;
          }

          @include mq(md, max) {
            // sp
            gap: $size-24;
          }

          &::after {
            position: relative;
            width: $size-18;
            height: $size-18;
            @include icon-mask(
              $path + "common/icon/icon-link.svg",
              $color-blue-dark
            );
            transition: $transition;

            @include mq(md, max) {
              // sp
              width: $size-16;
              height: $size-16;
            }
          }
        }

        &:hover {
          .icon-link::after {
            background-color: $color-blue;
          }
        }
      }
    }
  }

  &__sub {
    padding: $size-80 vw_min(88px);

    @include mq(md, max) {
      // sp
      padding: vw_max(80px) 0;
    }

    &--in {
      display: flex;
      flex-wrap: wrap;

      @include mq(md, max) {
        // sp
        flex-direction: column-reverse;
        margin: 0 6%;
      }
    }

    &--card {
      border: 1px solid $color-gray-300;
      margin-top: -1px;

      @include mq(md, min) {
        // pc
        width: 50%;
      }

      &.--advice .service__sub--card--title::before {
        background: url($path + "common/icon/icon-service-advice.svg") no-repeat
          center center / contain;
      }
      &.--insourcing .service__sub--card--title::before {
        background: url($path + "common/icon/icon-service-insourcing.svg")
          no-repeat center center / contain;
      }
      &.--bcp .service__sub--card--title::before {
        background: url($path + "common/icon/icon-service-bcp.svg") no-repeat
          center center / contain;
      }
      &.--offshore .service__sub--card--title::before {
        background: url($path + "common/icon/icon-service-offshore.svg")
          no-repeat center center / contain;
      }

      &.is-ani .service__sub--card--img > img {
        opacity: 1;
        transform: scale(1.05);
      }
    }

    &--card + &--card {
      @include mq(md, min) {
        // pc
        margin-left: -1px;
      }

      @include mq(md, max) {
        // sp
        margin-top: -1px;
      }
    }

    &--card--img {
      overflow: hidden;
      > img {
        width: 100%;
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 0;
      }
    }

    &--card--wrap {
      display: flex;
      align-items: center;

      @include mq(md, min) {
        // pc
        padding: $size-24;
        gap: $size-16;
      }

      @include mq(lg, min) {
        // pc
        padding: $size-32;
        gap: $size-24;
      }

      @include mq(md, max) {
        // sp
        padding: 6% vw_max(40px);
        gap: vw_max(40px);
      }
    }

    &--card--title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: $size-15;
      line-height: 1.25;

      @include mq(md, min) {
        // pc
        min-width: 90px;
      }

      @include mq(lg, min) {
        // pc
        min-width: 120px;
      }

      > .font-en {
        font-size: $size-12;
        line-height: 1;
        color: $color-gray-300;
        letter-spacing: 0;
        margin-top: 8px;
      }

      &::before {
        content: "";
        display: block;
        position: relative;
        width: $size-80;
        height: $size-80;
        margin: 0 auto 8px;

        @include mq(md, max) {
          // sp
          width: vw_max(110px);
          height: vw_max(110px);
          margin-bottom: vw_max(8px);
        }
      }
    }

    &--card--content {
      display: flex;
      flex-direction: column;

      @include mq(md, min) {
        // pc
        width: calc(100% - 100px);
      }

      @include mq(lg, min) {
        // pc
        width: calc(100% - 120px);
      }

      > p {
        font-size: $size-15;
        line-height: 1.25;
      }
    }
    &--card--link {
      margin-top: $size-32;
    }
  }
}

/* mission */
.contentsTop .mission {
  padding: $size-80 0;

  @include mq(md, max) {
    // sp
    padding: vw_max(80px) 0 vw_max(20px);
  }

  .common__title--textIn {
    @include mq(md, min) {
      // pc
      max-width: calc(100% - vw_min(600px));
    }
  }

  &__in {
    display: flex;

    @include mq(md, min) {
      // pc
      margin-right: $size-80;
      justify-content: space-between;
    }

    @include mq(md, max) {
      // sp
      flex-direction: column-reverse;
      margin: 0 6%;
    }
  }

  &__contents {
    @include mq(md, min) {
      // pc
      // width: calc(100% - vw_min(600px));
      margin-right: $size-80;
    }

    @include mq(md, max) {
      // sp
      margin-top: $size-16;
    }

    &--in {
      @include mq(md, min) {
        // pc
        margin-top: $size-40;
        margin-left: $size-80;
        max-width: 800px;
      }

      @include mq(md, max) {
        // sp
        margin-top: vw_max(40px);
      }
    }

    &--text {
      font-size: $size-16;
      line-height: 2;
      transition-delay: 0.05s;

      @include mq(md, max) {
        // sp
        font-size: $size-15;
        line-height: 1.75;
      }
    }
  }

  &__image {
    @include mq(md, min) {
      // pc
      width: vw_min(600px);
      margin-top: vw_min(-80px);
    }

    > img {
      max-width: 100%;

      @include mq(md, max) {
        // sp
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__linkButton {
    margin-top: $size-40;
    margin-left: 0;

    @include mq(md, max) {
      // sp
      margin: $size-64 auto;
    }
  }
}

/* お客様導入事例 */
.contentsTop .case {
  margin-top: $size-94;
  padding-bottom: $size-24;

  @include mq(md, max) {
    // sp
    margin-top: vw_max(40px);
  }

  &__titleImg {
    padding-top: vw_min(320px);
    padding-bottom: vw_min(64px);
    background: url($path + "top/case/case_bg.jpg") no-repeat center center /
      cover;
    background-size: 105%;
    opacity: 0;
    transition: all 0.5s ease;
    // transition-delay: 0.5s;

    &.is-ani {
      opacity: 1;
      background-size: 100%;
    }

    @include mq(md, max) {
      // sp
      padding-top: vw_max(240px);
      padding-bottom: vw_max(64px);
    }

    .common__title {
      @include mq(md, min) {
        // pc
        flex-direction: inherit;
        align-items: center;
      }

      @include mq(md, max) {
        // sp
        margin-bottom: 0;
      }
    }

    .common__title,
    .common__title--textIn > span.font-en {
      color: #fff;
    }
    .common__title--text::before {
      background-color: #fff;
    }
    .common__title--desc {
      @include mq(md, min) {
        // pc
        margin-top: vw_min(56px);
      }
    }
  }

  &__toggle {
    border: 1px solid $color-gray-300;

    @include mq(md, min) {
      // pc
      margin: $size-80 0;
      padding: $size-32 $size-40;
    }

    @include mq(md, max) {
      // sp
      margin: vw_max(64px) 0;
      padding: vw_max(32px) vw_max(40px);
    }

    &--title {
      display: block;
      font-size: $size-22;
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(28px);
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-16;
      margin: $size-24 0 0;

      @include mq(md, max) {
        // sp
        margin: vw_max(40px) 0 0;
        gap: $size-14;
      }
    }

    &--item {
      width: calc(100% / 5 - $size-16);

      @include mq(md, max) {
        // sp
        width: calc(100% / 2 - vw_max(16px));
      }

      > a {
        display: block;
        font-size: $size-16;
        color: $color-blue-dark;
        text-align: center;
        font-weight: 500;
        padding: $size-8 0;
        border-radius: 4px;
        background-color: $color-gray-200;
        transition: background-color 0.3s ease;

        @include mq(md, max) {
          // sp
          padding: vw_max(8px) 0;
        }

        &:hover {
          background-color: rgba($color: $color-blue, $alpha: 0.2);
        }
      }
    }
  }

  &__inner {
    margin-bottom: $size-80;

    @include mq(md, max) {
      // sp
      margin-bottom: 40px;
    }
  }

  &__cardList {
    &--list {
      display: flex;
      flex-wrap: wrap;

      @include mq(md, max) {
        // sp
        gap: $size-32;
      }
    }
  }

  .caseItem {
    @include mq(md, min) {
      // pc
      width: calc(100% / 4);
      margin-right: -1px;
      border: 1px solid $color-gray-300;
      box-sizing: border-box;
    }

    @include mq(md, max) {
      // sp
      width: 100%;
      border-bottom: 1px solid $color-gray-300;
    }

    &.is-ani {
      // ループで各要素に遅延を設定
      $elements-count: 8;

      @for $i from 1 through $elements-count {
        &:nth-of-type(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }

    &__link {
      display: block;

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.05);
        .caseItem__img img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      overflow: hidden;
      > img {
        width: 100%;
        transition: transform 0.3s ease;
      }
    }

    &__contents {
      display: flex;
      flex-direction: column;

      @include mq(md, min) {
        // pc
        padding: $size-16 $size-24 $size-24;
        gap: $size-12;
      }

      @include mq(md, max) {
        // sp
        padding: $size-24 0;
        gap: $size-16;
      }

      &--company {
        font-size: $size-12;
        letter-spacing: 0;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
      &--title {
        font-size: $size-16;
        font-weight: 500;
        line-height: 1;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }
      &--desc {
        font-size: vw_min(13px);
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.25;
        overflow: hidden;

        @include mq(md, max) {
          // sp
          font-size: $size-13;
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      &--tagWrap {
        display: flex;
        flex-wrap: wrap;
        gap: $size-8;

        @include mq(md, max) {
          // sp
          gap: $size-14;
        }
      }

      &--tag {
        display: flex;
        font-size: vw_min(13px);
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }

        .tag {
          display: flex;
          gap: $size-8;

          @include mq(md, max) {
            // sp
            gap: vw_max(8px);
          }

          .icon-tag {
            display: flex;
            align-items: center;

            &::before {
              position: relative;
              width: $size-14;
              height: $size-12;
              margin-right: 4px;
              @include icon-mask(
                $path + "common/icon/icon-tag.svg",
                $color-blue-dark
              );
              transition: $transition;

              @include mq(md, max) {
                // sp
                width: $size-14;
                height: $size-12;
              }
            }
          }
        }
      }
    }
  }
}

/* 対応技術 */
.contentsTop .develop {
  padding-top: $size-80;

  @include mq(md, max) {
    // sp
    padding-top: vw_max(80px);
    margin-bottom: 40px;
  }

  &__title {
    @include mq(md, min) {
      // pc
      padding: $size-40 0;
    }

    &--desc {
      @include mq(md, min) {
        // pc
        padding: 0 vw_min(88px);
      }
    }

    > span {
      display: block;
      font-size: $size-24;
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(32px);
      }
    }
  }

  &__inner {
    @include mq(md, max) {
      // sp
      margin: 0 6%;
    }
  }

  &__listBox {
    background-color: #fff;
    border: 1px solid $color-gray-300;

    @include mq(md, max) {
      // sp
      padding: $size-16;
    }
  }

  &__listWrap {
    margin: 0 auto;
    padding: 0 $size-56 $size-32;

    @include mq(md, max) {
      // sp
      padding: $size-24 0;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $size-16;
    margin-bottom: $size-24;

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
    }
  }

  &__item {
    position: relative;
    width: vw_min(110px);
    height: vw_min(110px);
    background: url($path + "top/develop_bg.svg") no-repeat center center/cover;

    @include mq(md, max) {
      // sp
      width: vw_max(124px);
      height: vw_max(124px);
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;

      > span {
        font-size: vw_min(20px);
        font-weight: 300;
        letter-spacing: -0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: vw_min(4px);

        @include mq(md, max) {
          // sp
          font-size: $size-14;
          gap: vw_max(4px);
        }

        &::after {
          content: "";
          display: block;
        }

        &.text-small {
          font-size: $size-16;
          line-height: 1;
          text-align: center;
        }
      }
    }

    &::before {
      content: "";
      display: block;
    }
  }

  .dev-lang {
    color: #3298b8;

    .develop__item--text::after {
      width: $size-20;
      height: $size-16;
      @include icon-mask($path + "common/icon/icon-dev-lang.svg", #3298b8);
    }
  }

  .dev-db {
    color: #595496;

    .develop__item--text::after {
      width: $size-18;
      height: $size-24;
      @include icon-mask($path + "common/icon/icon-dev-db.svg", #595496);
    }
  }

  .dev-framework {
    color: #34b881;

    .develop__item--text::after {
      width: $size-18;
      height: $size-24;
      @include icon-mask($path + "common/icon/icon-dev-framework.svg", #34b881);
    }
  }
}

.develop__item {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease;

  // ループで各要素に遅延を設定
  $elements-count: 15;
  @for $i from 1 through $elements-count {
    .is-ani & {
      opacity: 1;
      transform: translateY(0px);

      &:nth-of-type(#{$i}) {
        transition-delay: $i * 0.05s;
      }
    }
  }
}

/* システム開発に関する最新情報 */
.contentsTop .columns {
  padding: $size-80 0 vw_min(160px);

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: $size-80;

    @include mq(md, min) {
      // pc
      gap: $size-24;
    }

    @include mq(md, max) {
      // sp
      flex-direction: column;
      margin: 0 6%;
    }
  }

  &__title {
    font-size: $size-24;
    color: $color-blue-dark;
    letter-spacing: -0.05em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $size-8;
    margin-bottom: $size-40;

    @include mq(md, max) {
      // sp
      font-size: $size-20;
      margin-bottom: $size-24;
    }

    &::after {
      content: "";
      display: block;
      width: $size-40;
      height: 2px;
      background-color: $color-orange;
      margin-top: vw_min(10px);

      @include mq(md, max) {
        // sp
        width: vw_max(40px);
        margin-top: vw_max(10px);
      }
    }
  }

  &__box {
    background-color: #fff;
    border: 1px solid $color-gray-300;
    position: relative;
    margin-bottom: $size-40;

    @include mq(md, min) {
      // pc
      padding: $size-40 $size-32;
      width: calc(50% - $size-24);
    }

    @include mq(md, max) {
      // sp
      padding: vw_max(40px) vw_max(32px);
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $color-blue-dark;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__box + &__box {
    @include mq(md, max) {
      // sp
      margin-top: vw_max(40px);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-gray-200;
    border-top: 1px solid $color-gray-200;

    @include mq(md, max) {
      // sp
      margin-bottom: vw_max(80px);
    }
  }

  .c-columnRow__card.is-ani {
    // ループで各要素に遅延を設定
    $elements-count: 4;

    @for $i from 1 through $elements-count {
      &:nth-of-type(#{$i}) {
        transition-delay: $i * 0.1s;
      }
    }
  }

  .c-columnRow__card--link {
    padding: $size-24 $size-12;

    @include mq(md, max) {
      // sp
      padding: $size-24 0;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: $size-12;
      width: $size-24;
      height: $size-16;
      transition: transform 0.3s ease;
      @include icon-mask(
        $path + "common/icon/icon-arrow.svg",
        $color-blue-dark
      );

      @include mq(md, min) {
        // pc
        transform: translateX(-12px);
      }

      @include mq(md, max) {
        // sp
        width: $size-24;
        height: $size-16;
        bottom: $size-16;
      }
    }
  }

  .c-columnRow__card--thumb {
    width: 12rem;

    @include mq(md, max) {
      // sp
      width: 6rem;
    }

    > img {
      width: 100%;
    }
  }

  &__linkButton {
    margin: $size-40 auto 0;
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 12s linear 0s normal both;
}
.swiper-slide img {
  height: auto;
  width: 100%;
}
