// top
@import "../mixin/index";

#fullWrap {
  // overflow: hidden;
}

/* mv */
.mv {
  position: relative;
  margin-bottom: vw_min(80px);

  @include mq(md, max) {
    // sp
    margin-bottom: vw_max(160px);
  }

  &__wrap {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABhJREFUGFdjZEACjHp6ev8vXboEphmRZQBrKwWNTXkrSAAAAABJRU5ErkJggg=="),
        url("https://drive.google.com/uc?export=view&id=1D8WqoRgWao_Ac_xUh9cAmozt6JBE0LUx");
      background-repeat: repeat, no-repeat; /* パターンのリピート */
      background-blend-mode: overlay; /* パターンをオ−バーレイにする */
      background-size: auto, cover; /* パターンにautoを指定する */
      position: absolute; /* absolute */
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0.5;
      mix-blend-mode: plus-lighter;
    }
  }

  &__slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    overflow: hidden;

    .swiper-slide {
      position: relative;
      min-height: 100vh;
    }
    .swiper-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
    }
  }

  &__inner {
    min-height: calc(100vh - 32px);
    padding: vw_min(80px) vw_min(56px);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;

    @include mq(md, max) {
      // sp
      min-height: 100svh;
      padding: 0 vw_max(56px);
    }
  }

  &__catch {
    &--en {
      font-size: vw_min(24px);
      font-weight: 600;
      letter-spacing: 0;
      color: $color-blue;

      @include mq(md, max) {
        // sp
        font-size: vw_max(36px);
      }
    }
    &--ja {
      margin-top: vw_min(32px);
      font-size: vw_min(56px);
      font-weight: 300;
      line-height: 1.25;
      color: #fff;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(64px);
        margin-top: vw_max(32px);
      }
    }
    &--desc {
      margin-top: vw_min(32px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
      }

      > p {
        font-size: vw_min(18px);
        line-height: 1.25;
        font-weight: 400;
        color: #fff;

        @include mq(md, max) {
          // sp
          font-size: vw_max(28px);
          line-height: 1.75;
        }
      }
    }
  }

  &__progressbar {
    max-width: 320px;
    position: relative;
    width: 100%;
    height: 1px;
    background: #ccc;
    overflow: hidden;
    margin-top: vw_min(64px);

    @include mq(md, max) {
      // sp
      height: 2px;
      margin-top: vw_max(64px);
    }

    span {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      transform-origin: left center;
      background: $color-blue;
      transform: scaleX(0);
      transition-timing-function: linear;
    }
  }

  &__flow {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-inline: 0;
    gap: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    position: absolute;
    bottom: vw_min(-45px);

    @include mq(md, max) {
      // sp
      bottom: vw_max(-80px);
    }

    > span {
      color: #fff;
      font-size: vw_min(160px);
      font-weight: 300;
      line-height: 0.75;
      font-weight: bold;
      white-space: nowrap;
      padding: 0 0.5em 0 0;
      margin: 0;
      animation: marquee-left 16s linear infinite;

      @include mq(md, max) {
        // sp
        font-size: vw_max(160px);
      }
    }
  }

  /* アニメーション */
  @keyframes marquee-left {
    100% {
      transform: translateX(-100%);
    }
  }
}

/* service */
.service {
  padding-top: vw_min(80px);

  &__main {
    margin-top: vw_min(80px);

    @include mq(md, max) {
      // sp
      margin-top: vw_max(120px);
      margin-bottom: vw_max(40px);
    }

    &--dl {
      border-top: 1px solid $color-gray-300;
      border-bottom: 1px solid $color-gray-300;
    }
    &--item {
      position: relative;
      overflow: hidden;
    }
    &--item + &--item {
      border-top: 1px solid $color-gray-300;
    }
    &--link {
      display: flex;
      gap: vw_min(80px);
      position: relative;
      padding: vw_min(48px) vw_min(88px);

      @include mq(md, max) {
        // sp
        padding: vw_max(48px) vw_max(56px);
        flex-direction: column;
        gap: vw_max(16px);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease, transform 0.4s ease;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.01);

        .-fullorder & {
          background: url($path + "top/service_fullorder_bg.jpg") no-repeat
            center center / cover;
        }
        .-renewal & {
          background: url($path + "top/service_fullorder_bg.jpg") no-repeat
            center center / cover;
        }
        .-maintenance & {
          background: url($path + "top/service_fullorder_bg.jpg") no-repeat
            center center / cover;
        }
      }

      &::after {
        width: $size-32;
        height: $size-16;
        @include icon-mask(
          $path + "common/icon/icon-arrow.svg",
          $color-blue-dark
        );
        transition: $transition;
        position: absolute;

        @include mq(md, min) {
          // pc
          right: vw_min(56px);
          bottom: vw_min(24px);
        }

        @include mq(md, max) {
          // sp
          width: $size-32;
          height: $size-16;
          top: vw_max(64px);
          right: vw_max(56px);
        }
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &--dt {
      display: flex;
      flex-direction: column;
      position: relative;

      @include mq(md, min) {
        // pc
        min-width: 400px;
      }

      > .font-mincho {
        display: flex;
        font-size: vw_min(28px);
        letter-spacing: 0;
        font-weight: 400;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
        }

        &::before {
          display: block;
          margin-top: vw_min(3px);
          margin-right: vw_min(8px);
          font-size: vw_min(22px);
          font-weight: 300;
          letter-spacing: -0.05em;
          font-family: $font-mincho;
          color: $color-blue-dark;

          @include mq(md, max) {
            // sp
            margin-top: vw_max(6px);
            margin-right: vw_max(8px);
            font-size: vw_max(24px);
          }

          .-fullorder & {
            content: "#1";
          }
          .-renewal & {
            content: "#2";
          }
          .-maintenance & {
            content: "#3";
          }
        }
      }

      > .font-en {
        font-size: vw_min(24px);
        letter-spacing: 0;
        margin-left: vw_min(32px);

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
          margin-left: 0;
        }
      }

      a:hover & {
        .font-mincho,
        .font-en {
          color: #fff;
        }

        .font-mincho::before {
          color: #fff;
        }
      }
    }

    &--dd {
      position: relative;
      font-weight: 400;

      @include mq(md, min) {
        // pc
        padding-top: vw_min(8px);
      }

      @include mq(md, max) {
        // sp
        font-size: vw_min(36px);
      }

      a:hover & {
        color: #fff;
      }
    }
  }

  &__other {
    padding: vw_min(80px);

    @include mq(md, max) {
      // sp
      padding: vw_max(80px) vw_max(56px);
    }

    &--title {
      font-size: vw_min(28px);
      display: flex;
      flex-direction: column;
      gap: vw_min(16px);

      @include mq(md, max) {
        // sp
        gap: vw_max(24px);
        font-size: vw_max(36px);
      }

      &::before {
        content: "";
        display: block;
        width: vw_min(80px);
        height: 1px;
        background-color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          width: vw_max(80px);
          margin-top: vw_max(10px);
        }
      }
    }

    &--dl {
      display: flex;

      @include mq(md, min) {
        // pc
        gap: vw_min(24px);
        margin-top: vw_min(40px);
      }

      @include mq(md, max) {
        // sp
        flex-direction: column;
        gap: vw_max(80px);
        margin-top: vw_max(40px);
      }
    }

    &--item {
      @include mq(md, min) {
        // pc
        width: calc(100% / 3 - vw_min(24px));
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: vw_min(16px);
      }

      > img {
        max-width: 100%;
      }
    }

    &--dt {
      width: 100%;
      background-color: $color-blue-dark;
      color: #fff;
      padding: vw_min(10px) vw_min(16px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        padding: vw_max(10px) vw_max(16px);
        font-size: vw_max(28px);
      }
    }

    &--dd {
      font-size: vw_min(15px);
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(32px);
        font-size: vw_max(24px);
      }
    }

    &--link {
      margin-top: vw_min(16px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(24px);
      }

      > a {
        span.icon-link {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: vw_min(16px);

          &::after {
            position: relative;
            width: $size-18;
            height: $size-18;
            @include icon-mask(
              $path + "common/icon/icon-link.svg",
              $color-blue-dark
            );
            transition: $transition;

            @include mq(md, max) {
              // sp
              width: $size-16;
              height: $size-16;
            }
          }
        }
      }
    }
  }

  &__sub {
    padding: vw_min(80px) vw_min(88px);

    @include mq(md, max) {
      // sp
      padding: vw_max(80px) 0;
    }

    &--in {
      display: flex;
      flex-wrap: wrap;

      @include mq(md, min) {
        // pc
        margin-right: vw_min(40px);
      }

      @include mq(md, max) {
        // sp
        flex-direction: column-reverse;
        margin: 0 vw_max(56px);
      }
    }

    &--card {
      border: 1px solid $color-gray-300;

      @include mq(md, min) {
        // pc
        width: 50%;
        margin-top: -1px;
      }
    }

    &--card + &--card {
      @include mq(md, min) {
        // pc
        margin-left: -1px;
      }

      @include mq(md, max) {
        // sp
        margin-top: -1px;
      }
    }

    &--card--img {
      > img {
        width: 100%;
      }
    }

    &--card--wrap {
      display: flex;
      gap: vw_min(40px);
      padding: vw_min(40px) vw_min(40px);

      @include mq(md, max) {
        // sp
        padding: vw_max(56px) vw_max(40px);
        gap: vw_max(40px);
      }
    }

    &--card--title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: vw_min(18px);

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
      }

      > .font-mincho {
        font-size: vw_min(14px);
        line-height: 1;
        color: $color-gray-300;
        letter-spacing: 0;

        @include mq(md, max) {
          // sp
          font-size: vw_max(18px);
        }
      }

      &::before {
        content: "";
        display: block;
        position: relative;
        width: vw_min(80px);
        height: vw_min(80px);

        @include mq(md, max) {
          // sp
          width: vw_max(110px);
          height: vw_max(110px);
          margin-bottom: vw_max(8px);
        }

        .--advice & {
          background: url($path + "common/icon/icon-service-advice.svg")
            no-repeat center center / contain;
        }
        .--insourcing & {
          background: url($path + "common/icon/icon-service-insourcing.svg")
            no-repeat center center / contain;
        }
        .--bcp & {
          background: url($path + "common/icon/icon-service-bcp.svg") no-repeat
            center center / contain;
        }
        .--offshore & {
          background: url($path + "common/icon/icon-service-offshore.svg")
            no-repeat center center / contain;
        }
      }
    }

    &--card--content {
      display: flex;
      flex-direction: column;
      margin-top: vw_min(16px);

      > p {
        font-size: vw_min(15px);
        line-height: 1.25;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }
      }
    }
    &--card--link {
      margin-top: vw_min(32px);

      @include mq(md, max) {
        // sp
        margin-top: vw_max(40px);
      }
    }
  }
}

/* mission */
.mission {
  padding: vw_min(80px) 0;

  @include mq(md, max) {
    // sp
    padding: vw_max(80px) 0 vw_max(20px);
  }

  &__in {
    display: flex;
    @include mq(md, min) {
      // pc
      margin-right: vw_min(40px);
    }

    @include mq(md, max) {
      // sp
      flex-direction: column-reverse;
      margin: 0 vw_max(56px);
    }
  }

  &__contents {
    @include mq(md, min) {
      // pc
      width: calc(100% - vw_min(600px));
      margin-right: vw_min(80px);
    }

    &--in {
      @include mq(md, min) {
        // pc
        margin-top: vw_min(40px);
        margin-left: vw_min(80px);
      }

      @include mq(md, max) {
        // sp
        margin-top: vw_max(40px);
      }
    }

    &--text {
      font-size: vw_min(16px);
      line-height: 2;

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
      }
    }
  }

  &__image {
    @include mq(md, min) {
      // pc
      width: vw_min(600px);
      margin-top: vw_min(-80px);
    }

    > img {
      max-width: 100%;

      @include mq(md, max) {
        // sp
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__linkButton {
    margin-top: vw_min(40px);

    @include mq(md, max) {
      // sp
      margin: vw_max(80px) auto;
    }
  }
}

/* お客様導入事例 */
.case {
  margin-top: vw_min(120px);

  @include mq(md, max) {
    // sp
    margin-top: vw_max(40px);
  }

  &__titleImg {
    padding-top: vw_min(320px);
    padding-bottom: vw_min(64px);
    background: url($path + "top/case/case_bg.jpg") no-repeat center center /
      cover;

    @include mq(md, max) {
      // sp
      padding-top: vw_max(240px);
      padding-bottom: vw_max(64px);
    }

    .common__title {
      @include mq(md, min) {
        // pc
        flex-direction: inherit;
        align-items: center;
      }

      @include mq(md, max) {
        // sp
        margin-bottom: 0;
      }
    }

    .common__title,
    .common__title--textIn > span.font-en {
      color: #fff;
    }
    .common__title--text::before {
      background-color: #fff;
    }
    .common__title--desc {
      @include mq(md, min) {
        // pc
        margin-top: vw_min(56px);
      }
    }
  }

  &__toggle {
    border: 1px solid $color-gray-300;

    @include mq(md, min) {
      // pc
      margin: 0 vw_min(80px) vw_min(64px);
      padding: vw_min(32px) vw_min(40px);
    }

    @include mq(md, max) {
      // sp
      margin: vw_max(64px) 0;
      padding: vw_max(32px) vw_max(40px);
    }

    &--title {
      display: block;
      font-size: vw_min(24px);
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(28px);
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: vw_min(16px);
      margin: vw_min(32px) 0;

      @include mq(md, max) {
        // sp
        margin: vw_max(40px) 0 0;
        gap: vw_max(24px);
      }
    }

    &--item {
      width: calc(100% / 5 - vw_min(13px));

      @include mq(md, max) {
        // sp
        width: calc(100% / 2 - vw_max(16px));
      }

      > a {
        display: block;
        font-size: vw_min(16px);
        color: $color-blue-dark;
        text-align: center;
        font-weight: 500;
        padding: vw_min(8px) 0;
        border-radius: 4px;
        background-color: $color-gray-200;
        transition: background-color 0.3s ease;

        @include mq(md, max) {
          // sp
          padding: vw_max(8px) 0;
          font-size: vw_max(24px);
        }

        &:hover {
          background-color: rgba($color: $color-blue, $alpha: 0.2);
        }
      }
    }
  }

  &__inner {
    margin-bottom: vw_min(80px);
  }

  &__cardList {
    &--list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .caseItem {
    border: 1px solid $color-gray-300;
    box-sizing: border-box;

    @include mq(md, min) {
      // pc
      width: calc(100% / 4);
      margin-right: -1px;
    }

    @include mq(md, max) {
      // sp
      width: 100%;
    }

    &__link {
      display: block;

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.05);
        .caseItem__img img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      overflow: hidden;
      > img {
        width: 100%;
        transition: transform 0.3s ease;
      }
    }

    &__contents {
      padding: vw_min(16px) vw_min(24px) vw_min(24px);
      display: flex;
      flex-direction: column;
      gap: vw_min(12px);

      @include mq(md, max) {
        // sp
        padding: vw_max(32px) vw_max(40px) vw_max(40px);
        gap: vw_max(24px);
      }

      &--company {
        font-size: vw_min(12px);
        letter-spacing: 0;

        @include mq(md, max) {
          // sp
          font-size: vw_max(20px);
        }
      }
      &--title {
        font-size: vw_min(16px);
        font-weight: 500;
        line-height: 1;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(26px);
        }
      }
      &--desc {
        font-size: vw_min(13px);
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.25;
        overflow: hidden;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      &--tagWrap {
        display: flex;
        flex-wrap: wrap;
        gap: vw_min(8px);

        @include mq(md, max) {
          // sp
          gap: vw_max(24px);
        }
      }

      &--tag {
        display: flex;
        font-size: vw_min(13px);
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }

        .tag {
          display: flex;
          gap: vw_min(8px);

          @include mq(md, max) {
            // sp
            gap: vw_max(8px);
          }

          .icon-tag {
            display: flex;
            align-items: center;

            &::before {
              position: relative;
              width: $size-14;
              height: $size-12;
              margin-right: 4px;
              @include icon-mask(
                $path + "common/icon/icon-tag.svg",
                $color-blue-dark
              );
              transition: $transition;

              @include mq(md, max) {
                // sp
                width: $size-14;
                height: $size-12;
              }
            }
          }
        }
      }
    }
  }
}

/* 対応技術 */
.develop {
  padding-top: vw_min(80px);

  @include mq(md, max) {
    // sp
    padding-top: vw_max(80px);
  }

  &__inner {
    @include mq(md, max) {
      // sp
      margin: 0 vw_max(56px);
    }
  }

  &__listBox {
    background-color: #fff;
    border: 1px solid $color-gray-300;
  }

  &__title {
    padding: vw_min(40px) 0;

    @include mq(md, max) {
      // sp
      padding: vw_max(40px) 0;
    }

    > span {
      display: block;
      font-size: vw_min(24px);
      color: $color-blue-dark;
      text-align: center;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(32px);
      }
    }
  }

  &__listWrap {
    margin: 0 auto;
    padding: 0 vw_min(56px);
    margin-bottom: vw_min(40px);

    @include mq(md, max) {
      // sp
      padding: 0 vw_max(32px);
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: vw_min(16px);
    margin-bottom: vw_min(24px);

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
    }
  }

  &__item {
    position: relative;
    width: vw_min(110px);
    height: vw_min(110px);
    background: url($path + "top/develop_bg.svg") no-repeat center center/cover;

    @include mq(md, max) {
      // sp
      width: vw_max(124px);
      height: vw_max(124px);
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      > span {
        font-size: vw_min(20px);
        font-weight: 300;
        letter-spacing: -0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: vw_min(4px);

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
          gap: vw_max(4px);
        }

        &::after {
          content: "";
          display: block;
        }

        .dev-lang & {
          color: #3298b8;

          &::after {
            width: $size-20;
            height: $size-16;
            @include icon-mask(
              $path + "common/icon/icon-dev-lang.svg",
              #3298b8
            );
          }
        }

        .dev-db & {
          color: #595496;

          &::after {
            width: $size-18;
            height: $size-24;
            @include icon-mask($path + "common/icon/icon-dev-db.svg", #595496);
          }
        }

        .dev-framework & {
          color: #34b881;

          &::after {
            width: $size-18;
            height: $size-24;
            @include icon-mask(
              $path + "common/icon/icon-dev-framework.svg",
              #34b881
            );
          }
        }

        &.text-small {
          font-size: vw_min(18px);
          line-height: 1;
          text-align: center;
        }
      }
    }

    &::before {
      content: "";
      display: block;
    }
  }
}

/* システム開発に関する最新情報 */
.column {
  padding: vw_min(80px) 0 vw_min(160px);

  &__inner {
    display: flex;
    justify-content: space-between;

    @include mq(md, min) {
      // pc
      gap: vw_min(24px);
    }

    @include mq(md, max) {
      // sp
      flex-direction: column;
      margin: 0 vw_max(56px);
    }
  }

  &__title {
    font-size: vw_min(24px);
    color: $color-blue-dark;
    letter-spacing: -0.05em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: vw_min(8px);
    margin-bottom: vw_min(40px);

    @include mq(md, max) {
      // sp
      font-size: vw_max(36px);
    }

    &::after {
      content: "";
      display: block;
      width: vw_min(40px);
      height: 2px;
      background-color: $color-orange;
      margin-top: vw_min(10px);

      @include mq(md, max) {
        // sp
        width: vw_max(40px);
        margin-top: vw_max(10px);
      }
    }
  }

  &__box {
    background-color: #fff;
    border: 1px solid $color-gray-300;
    position: relative;

    @include mq(md, min) {
      // pc
      padding: vw_min(40px) vw_min(32px);
      width: calc(50% - vw_min(24px));
    }

    @include mq(md, max) {
      // sp
      padding: vw_max(40px) vw_max(32px);
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $color-blue-dark;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__box + &__box {
    @include mq(md, max) {
      // sp
      margin-top: vw_max(40px);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-gray-200;
    border-top: 1px solid $color-gray-200;

    @include mq(md, max) {
      // sp
      margin-bottom: vw_max(80px);
    }
  }

  &__card {
    display: flex;
    gap: vw_min(16px);
    padding: vw_min(32px) 0;
    position: relative;

    @include mq(md, max) {
      // sp
      gap: vw_max(32px);
      padding: vw_max(40px) 0;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: vw_min(16px);
      width: $size-24;
      height: $size-16;
      @include icon-mask(
        $path + "common/icon/icon-arrow.svg",
        $color-blue-dark
      );

      @include mq(md, max) {
        // sp
        bottom: vw_max(24px);
      }
    }

    &--contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: vw_min(8px);

      @include mq(md, max) {
        // sp
        gap: vw_max(16px);
      }
    }

    &--date {
      color: #6d6b80;
      font-size: vw_min(13px);
      line-height: 1;

      @include mq(md, max) {
        // sp
        font-size: vw_max(20px);
      }
    }

    &--title {
      font-size: vw_min(16px);
      line-height: 1;
      font-weight: 500;

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
        line-height: 1.5;
      }

      &:hover {
        color: $color-blue;
      }
    }

    &--desc {
      margin-top: vw_min(4px);
      font-size: vw_min(14px);
      letter-spacing: 0;
      font-weight: 400;
      line-height: 1.25;
      overflow: hidden;

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
      }

      > span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
    
    &--tag {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 8px;

      @include mq(md, max) {
        // sp
        gap: vw_max(8px);
      }

      > span.tag {
        font-size: vw_min(13px);
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: vw_max(20px);
          line-height: 1;
        }
      }
    }
  }
  &__card + &__card {
    border-top: 1px solid $color-gray-200;
  }
  &__linkButton {
    margin: vw_min(40px) auto;

    @include mq(md, max) {
      // sp
      margin: vw_max(40px) auto;
    }
  }
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 12s linear 0s normal both;
}
.swiper-slide img {
  height: auto;
  width: 100%;
}
