@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, th, td, pre, code, blockquote, form, fieldset, legend, input, textarea, figcaption, figure {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  font-size: 100%;
}

legend {
  color: #FFF;
}

hr {
  display: none;
}

img {
  vertical-align: bottom;
}

select, input, button, textarea {
  font-size: 99%;
}

table {
  font-size: inherit;
  font: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  font-size: 108%;
  line-height: 100%;
}

.hd {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, hr, menu, nav, section, main {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 999999px;
  outline: none;
}

*:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

body {
  background-color: #FBFBFB;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  font-weight: normal;
  line-height: 1.8;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
}

::selection {
  background: #083388;
  color: #fff;
}

::-moz-selection {
  background: #083388;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .ah:hover {
    opacity: 1;
  }
}
/**
 * scroll bar
 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #083388;
  background: linear-gradient(0deg, rgba(var(--color-blue), 1) 0%, rgba(var(--color-green), 1) 100%);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-gold));
  margin: 2px;
  box-shadow: none;
}

.font-en {
  font-family: "Cormorant Garamond", serif;
}

.font-mincho {
  font-family: "Shippori Mincho", serif;
}

.font-robot {
  font-family: "Roboto", sans-serif;
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
.common-in-maxwidth {
  max-width: 1400px;
}

/* inner */
@media screen and (min-width: 769px) {
  .common__inner {
    margin: min(5.3333333333vw, 64px) min(7.3333333333vw, 88px) 0;
  }
}
@media screen and (max-width: 768px) {
  .common__inner {
    margin: max(4.2666666667vw, 16px) max(5.3333333333vw, 20px) 0;
  }
}

/* title */
.common__title {
  display: flex;
  flex-direction: column;
  gap: min(3.3333333333vw, 40px);
}
@media screen and (max-width: 768px) {
  .common__title {
    gap: max(5.3333333333vw, 20px);
    margin-bottom: max(7.4666666667vw, 28px);
  }
}
.common__title--text {
  position: relative;
  display: flex;
  gap: min(0.6666666667vw, 8px);
}
@media screen and (max-width: 768px) {
  .common__title--text {
    gap: max(2.1333333333vw, 8px);
  }
}
.common__title--text::before {
  content: "";
  display: block;
  width: min(6.6666666667vw, 80px);
  height: 1px;
  background-color: #1c294f;
  margin-top: min(1.3333333333vw, 16px);
}
@media screen and (max-width: 768px) {
  .common__title--text::before {
    width: max(5.3333333333vw, 20px);
    margin-top: max(3.2vw, 12px);
  }
}
.common__title--textIn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.common__title--textIn > span {
  line-height: 1.5;
}
.common__title--textIn > span.font-en {
  font-size: min(2vw, 24px);
  color: #1c294f;
  letter-spacing: -0.01em;
}
@media screen and (max-width: 768px) {
  .common__title--textIn > span.font-en {
    font-size: max(4.2666666667vw, 16px);
  }
}
.common__title--textIn > span.font-mincho {
  font-size: min(2.3333333333vw, 28px);
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .common__title--textIn > span.font-mincho {
    font-size: max(4.2666666667vw, 16px);
  }
}
.common__title--desc {
  font-size: min(1.3333333333vw, 16px);
  font-weight: 400;
  margin-left: min(7.3333333333vw, 88px);
}
@media screen and (max-width: 768px) {
  .common__title--desc {
    font-size: max(2.6666666667vw, 10px);
    margin: 0 max(5.3333333333vw, 20px);
  }
}

/* linkButton */
.common__linkButton {
  width: min(24.1666666667vw, 290px);
}
@media screen and (max-width: 768px) {
  .common__linkButton {
    width: 68%;
  }
}
.common__linkButton > a {
  width: 100%;
  display: block;
  border: 1px solid #1c294f;
  padding: min(1.3333333333vw, 16px) 0;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .common__linkButton > a {
    padding: max(3.2vw, 12px) 0;
  }
}
.common__linkButton > a > span {
  font-size: min(1.5vw, 18px);
  text-align: center;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(0.6666666667vw, 8px);
  margin-left: min(0.6666666667vw, 8px);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .common__linkButton > a > span {
    font-size: max(3.2vw, 12px);
    gap: max(1.0666666667vw, 4px);
  }
}
.common__linkButton > a > span::after {
  position: relative;
  width: min(24vw, 24px);
  height: min(16vw, 16px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 768px) {
  .common__linkButton > a > span::after {
    width: min(18vw, 18px);
    height: min(12vw, 12px);
  }
}
.common__linkButton > a::before {
  display: block;
  content: "";
  width: 100%;
  height: min(4.6666666667vw, 56px);
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.2s ease;
}
.common__linkButton > a::after {
  content: "";
  display: block;
  width: 100%;
  height: min(4.6666666667vw, 56px);
  background-color: #1c294f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1, 1);
  transform-origin: left;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 768px) {
  .common__linkButton > a::after {
    height: max(9.6vw, 36px);
  }
}
.common__linkButton > a:hover {
  background-color: #fff;
}
.common__linkButton > a:hover > span {
  color: #1c294f;
}
.common__linkButton > a:hover > span::after {
  transform: translateX(4px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #1c294f;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.common__linkButton > a:hover:hover::before {
  transform-origin: left;
  transform: scale(1, 1);
}
.common__linkButton > a:hover:hover::after {
  transform-origin: right;
  transform: scale(0, 1);
}

/* -onbg */
.-onbg {
  background: url(/assets/img/common/bg/onbg.png) repeat left top/150px 150px;
}

/* common__borderLink */
.common__borderLink {
  display: inline-block;
  position: relative;
  padding-bottom: min(1vw, 12px);
  font-size: min(1.1666666667vw, 14px);
  font-weight: 500;
  color: #1c294f;
}
@media screen and (max-width: 768px) {
  .common__borderLink {
    font-size: max(2.6666666667vw, 10px);
  }
}
.common__borderLink::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d2d5db;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.common__borderLink::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1c294f;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.2s ease;
}
.common__borderLink:hover::after {
  transform-origin: left;
  transform: scale(1, 1);
}

/* icon-arrow */
.icon-arrow::after {
  position: relative;
  width: min(24vw, 24px);
  height: min(16vw, 16px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #1c294f;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 768px) {
  .icon-arrow::after {
    width: min(18vw, 18px);
    height: min(12vw, 12px);
  }
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
.header {
  position: relative;
}
.header__in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.header__logo {
  display: flex;
  align-items: center;
  padding-left: min(16vw, 16px);
}
.header__navin {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin: 0 min(24vw, 24px);
  gap: 4px;
}
.header__nav--in {
  display: flex;
  justify-content: flex-end;
}
.header__nav--list {
  display: flex;
  gap: min(20vw, 20px);
}
.header__nav--item {
  position: relative;
}
.header__nav--item > a {
  display: block;
  line-height: 1;
}
._navMain .header__nav--item > a {
  padding: min(16vw, 16px) 0;
  font-size: min(14vw, 14px);
  font-weight: 500;
}
._navMain .header__nav--item > a::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #083388;
  position: absolute;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.2s ease;
}
._navMain .header__nav--item > a:hover::before {
  transform: scale(1, 1);
}
._navSub .header__nav--item > a {
  font-size: min(12vw, 12px);
  display: flex;
  align-items: center;
}
._navSub .header__nav--item > a::before {
  content: "";
  background-color: #222;
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-blank.svg);
  mask-image: url(/assets/img/common/icon/icon-blank.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: min(16vw, 16px);
  height: min(16vw, 16px);
  margin-right: 4px;
  transition: background-color 0.3s ease;
}
._navSub .header__nav--item > a:hover {
  color: #083388;
}
._navSub .header__nav--item > a:hover::before {
  background-color: #083388;
}
.header__inquiry {
  width: 164px;
}
.header__inquiry--btn {
  width: 100%;
}
.header__inquiry--btn > a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  line-height: 1;
  text-align: center;
  font-size: min(16vw, 16px);
  padding: min(12vw, 12px) 0;
  display: flex;
  justify-content: center;
}
.header__inquiry--btn > a._download {
  background-color: #083388;
}
.header__inquiry--btn > a._download::before {
  width: min(14vw, 14px);
  height: min(18vw, 18px);
  margin-right: 8px;
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-paper.svg);
  mask-image: url(/assets/img/common/icon/icon-paper.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.header__inquiry--btn > a._inquiry {
  background-color: #fe5b00;
}
.header__inquiry--btn > a._inquiry::before {
  width: min(20vw, 20px);
  height: min(16vw, 16px);
  margin-right: 8px;
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-mail.svg);
  mask-image: url(/assets/img/common/icon/icon-mail.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.header__toggle {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  border-bottom: 1px solid #ccc;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  box-shadow: #eee 0 8px 16px;
}
.header__toggle._isShow {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.header__toggle--in {
  max-width: 1400px;
  margin: 0 auto;
  padding: min(40vw, 40px) min(80vw, 80px);
  display: flex;
  gap: min(40vw, 40px);
}
.header__toggle--nav {
  display: flex;
  flex-direction: column;
}
.header__toggle--heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.header__toggle--heading > span {
  color: #083388;
}
.header__toggle--heading--text {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: min(20vw, 20px);
  line-height: 1;
  font-weight: 600;
}
.header__toggle--heading .font-en {
  font-size: min(18vw, 18px);
  font-weight: 500;
  letter-spacing: 0;
}
.header__toggle--list {
  display: flex;
  flex-wrap: wrap;
  gap: min(16vw, 16px);
}
.header__toggle--item {
  position: relative;
}
.header__toggle--item > a {
  width: 100%;
  font-size: min(14vw, 14px);
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(16vw, 16px);
}
.header__toggle--item > a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #083388;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.header__toggle--item > a:hover {
  color: #083388;
}
.header__toggle--item > a:hover::before {
  transform: scale(1, 1);
  transform-origin: left;
}
.header__toggle--item .icon-arrow::after {
  transform: translateX(-5px);
}
.header__toggle--item a.icon-arrow:hover::after {
  transform: translateX(0px);
}

.icon-arrow._after::after {
  width: min(24vw, 24px);
  height: 4px;
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #083388;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: min(24vw, 24px);
  padding-top: min(6.6666666667vw, 80px);
}
.footer__in {
  display: flex;
  justify-content: space-between;
}
.footer__logo > a {
  width: 100%;
  display: block;
}
.footer__logo > a img {
  width: 100%;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: min(32vw, 32px);
  margin-left: min(24vw, 24px);
}
.footer__nav--item > a._textBold {
  font-weight: 600;
  font-size: min(14vw, 14px);
  line-height: 1;
}
.footer__nav--item > a._textThin {
  font-size: min(13vw, 13px);
  line-height: 1;
}
.footer__nav--item > a:hover {
  color: #083388;
}
.footer__cookie {
  display: flex;
  align-items: center;
  gap: min(16vw, 16px);
  margin-top: min(80vw, 80px);
  margin-bottom: min(32vw, 32px);
  padding-bottom: min(32vw, 32px);
  border-bottom: 1px solid #ccc;
}
.footer__cookie--text {
  font-size: min(10vw, 10px);
  line-height: 1.5;
  letter-spacing: 0;
}
.footer__cookie--links {
  display: flex;
  gap: min(16vw, 16px);
}
.footer__cookie__cookie--link > a img {
  width: 100%;
}
.footer__cookie__cookie--link > a:hover {
  opacity: 0.7;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(16vw, 16px);
  margin-top: min(80vw, 80px);
  margin-bottom: min(32vw, 32px);
  padding-bottom: min(32vw, 32px);
}
.footer__copy--text {
  font-size: min(10vw, 10px);
  line-height: 1.5;
  letter-spacing: 0;
}
.footer__copy--links {
  display: flex;
  gap: min(16vw, 16px);
}
.footer__copy--link a {
  font-size: min(10vw, 10px);
  line-height: 1.5;
  letter-spacing: 0;
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
.contact {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: min(12.6666666667vw, 152px) 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: max(10.6666666667vw, 40px) 0;
  }
}
.contact::before {
  content: "";
  display: block;
  width: 100%;
  min-height: calc(100vh - 80px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: url(/assets/img/common/contact/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__titleWrap {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .contact__titleWrap {
    margin-bottom: max(5.3333333333vw, 20px);
  }
}
.contact__title {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: clamp(24px, 2vw, 32px);
}
@media screen and (max-width: 768px) {
  .contact__title {
    font-size: clamp(14.612176814px, 4.0033361134vw, 48px);
  }
}
.contact__title--bg {
  position: relative;
  z-index: 3;
  mix-blend-mode: overlay;
}
@media screen and (min-width: 769px) {
  .contact__title--bg {
    min-height: 56px;
  }
}
@media screen and (max-width: 768px) {
  .contact__title--bg {
    height: max(16vw, 60px);
  }
}
.contact__title--bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.contact__in {
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 769px) {
  .contact__in {
    width: min(66.6666666667vw, 800px);
    padding: min(5.3333333333vw, 64px) 0 0;
  }
}
@media screen and (max-width: 768px) {
  .contact__in {
    width: 86%;
    padding: max(5.3333333333vw, 20px) 0;
  }
}
.contact__desc {
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: clamp(15px, 1.25vw, 20px);
  margin-bottom: min(6.6666666667vw, 80px);
}
@media screen and (max-width: 768px) {
  .contact__desc {
    font-size: clamp(12.1768140117px, 3.3361134279vw, 40px);
    margin-bottom: max(10.6666666667vw, 40px);
  }
}
.contact__link {
  max-width: 850px;
  padding-top: 80px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 768px) {
  .contact__link {
    padding-top: max(10.6666666667vw, 40px);
  }
}
.contact__link--list {
  display: flex;
  justify-content: center;
  gap: 8%;
}
@media screen and (max-width: 768px) {
  .contact__link--list {
    flex-direction: column;
  }
}
.contact__link--item {
  width: 100%;
  border: 1px solid #fff;
}
@media screen and (min-width: 769px) {
  .contact__link--item {
    width: 42%;
    max-width: 320px;
  }
}
.contact__link--item > a {
  padding: min(5.3333333333vw, 64px) 0;
  display: block;
}
.contact__link--item > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contact__link--item > a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16.5px, 1.375vw, 22px);
  text-align: center;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact__link--item > a > span {
    font-size: clamp(15.8298582152px, 4.3369474562vw, 52px);
  }
}
.contact__link--item > a > span::after {
  width: min(28vw, 28px);
  height: min(20vw, 20px);
  margin-left: 16px;
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
@media screen and (max-width: 768px) {
  .contact__link--item + .contact__link--item {
    margin-top: min(6.6666666667vw, 80px);
  }
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
.template .fs-16-px {
  font-size: 16px;
}
.template .fs-16 {
  font-size: min(1.3333333333vw, 16px);
}
@media screen and (max-width: 768px) {
  .template .fs-16 {
    font-size: max(2.1333333333vw, 8px);
  }
}

/*
 * icon-mask
 */
/*
 * font-size可変用
 */
/* service */
.service {
  padding-top: min(6.6666666667vw, 80px);
}
.service__main {
  margin-top: min(6.6666666667vw, 80px);
}
.service__main--dl {
  border-top: 1px solid #d2d5db;
  border-bottom: 1px solid #d2d5db;
}
.service__main--item {
  position: relative;
  overflow: hidden;
}
.service__main--item + .service__main--item {
  border-top: 1px solid #d2d5db;
}
.service__main--link {
  display: flex;
  gap: min(6.6666666667vw, 80px);
  position: relative;
  padding: min(4vw, 48px) min(7.3333333333vw, 88px);
}
@media screen and (max-width: 768px) {
  .service__main--link {
    padding: max(6.4vw, 24px) max(7.4666666667vw, 28px);
    flex-direction: column;
    gap: max(2.1333333333vw, 8px);
  }
}
.service__main--link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease, transform 0.4s ease;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.01);
}
.-fullorder .service__main--link::before {
  background: url(/assets/img/top/service_fullorder_bg.jpg) no-repeat center center/cover;
}
.-renewal .service__main--link::before {
  background: url(/assets/img/top/service_fullorder_bg.jpg) no-repeat center center/cover;
}
.-maintenance .service__main--link::before {
  background: url(/assets/img/top/service_fullorder_bg.jpg) no-repeat center center/cover;
}
.service__main--link::after {
  width: min(32vw, 32px);
  height: min(16vw, 16px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #1c294f;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: transform 0.2s ease;
  position: absolute;
}
@media screen and (min-width: 769px) {
  .service__main--link::after {
    right: min(4.6666666667vw, 56px);
    bottom: min(2vw, 24px);
  }
}
@media screen and (max-width: 768px) {
  .service__main--link::after {
    width: min(32vw, 32px);
    height: min(16vw, 16px);
    top: max(8.5333333333vw, 32px);
    right: max(7.4666666667vw, 28px);
  }
}
.service__main--link:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.service__main--dt {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 769px) {
  .service__main--dt {
    min-width: 400px;
  }
}
.service__main--dt > .font-mincho {
  display: flex;
  font-size: min(2.3333333333vw, 28px);
  letter-spacing: 0;
  font-weight: 400;
  color: #1c294f;
}
@media screen and (max-width: 768px) {
  .service__main--dt > .font-mincho {
    font-size: max(4.2666666667vw, 16px);
  }
}
.service__main--dt > .font-mincho::before {
  display: block;
  margin-top: min(0.25vw, 3px);
  margin-right: min(0.6666666667vw, 8px);
  font-size: min(1.8333333333vw, 22px);
  font-weight: 300;
  letter-spacing: -0.05em;
  font-family: "Shippori Mincho", serif;
  color: #1c294f;
}
@media screen and (max-width: 768px) {
  .service__main--dt > .font-mincho::before {
    margin-top: max(0.8vw, 3px);
    margin-right: max(1.0666666667vw, 4px);
    font-size: max(3.2vw, 12px);
  }
}
.-fullorder .service__main--dt > .font-mincho::before {
  content: "#1";
}
.-renewal .service__main--dt > .font-mincho::before {
  content: "#2";
}
.-maintenance .service__main--dt > .font-mincho::before {
  content: "#3";
}
.service__main--dt > .font-en {
  font-size: min(2vw, 24px);
  letter-spacing: 0;
  margin-left: min(2.6666666667vw, 32px);
}
@media screen and (max-width: 768px) {
  .service__main--dt > .font-en {
    font-size: max(3.2vw, 12px);
    margin-left: 0;
  }
}
a:hover .service__main--dt .font-mincho,
a:hover .service__main--dt .font-en {
  color: #fff;
}
a:hover .service__main--dt .font-mincho::before {
  color: #fff;
}
.service__main--dd {
  position: relative;
  font-weight: 400;
}
@media screen and (min-width: 769px) {
  .service__main--dd {
    padding-top: min(0.6666666667vw, 8px);
  }
}
@media screen and (max-width: 768px) {
  .service__main--dd {
    font-size: min(2.6666666667vw, 32px);
  }
}
a:hover .service__main--dd {
  color: #fff;
}
.service__other {
  padding: min(6.6666666667vw, 80px);
}
@media screen and (max-width: 768px) {
  .service__other {
    padding: max(10.6666666667vw, 40px) max(11.7333333333vw, 44px);
  }
}
.service__other--title {
  font-size: min(2.3333333333vw, 28px);
  display: flex;
  flex-direction: column;
  gap: min(1.3333333333vw, 16px);
}
@media screen and (max-width: 768px) {
  .service__other--title {
    gap: max(2.1333333333vw, 8px);
    font-size: max(4.2666666667vw, 16px);
  }
}
.service__other--title::before {
  content: "";
  display: block;
  width: min(6.6666666667vw, 80px);
  height: 1px;
  background-color: #1c294f;
}
@media screen and (max-width: 768px) {
  .service__other--title::before {
    width: max(10.6666666667vw, 40px);
    margin-top: max(1.3333333333vw, 5px);
  }
}
.service__other--dl {
  display: flex;
}
@media screen and (min-width: 769px) {
  .service__other--dl {
    gap: min(2vw, 24px);
    margin-top: min(3.3333333333vw, 40px);
  }
}
@media screen and (max-width: 768px) {
  .service__other--dl {
    flex-direction: column;
    gap: max(7.4666666667vw, 28px);
    margin-top: max(5.3333333333vw, 20px);
  }
}
@media screen and (min-width: 769px) {
  .service__other--item {
    width: calc(33.3333333333% - min(2vw, 24px));
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: min(1.3333333333vw, 16px);
  }
}
.service__other--item > img {
  max-width: 100%;
}
.service__other--dt {
  width: 100%;
  background-color: #1c294f;
  color: #fff;
  padding: min(0.8333333333vw, 10px) min(1.3333333333vw, 16px);
}
@media screen and (max-width: 768px) {
  .service__other--dt {
    margin-top: max(4.2666666667vw, 16px);
    padding: max(1.3333333333vw, 5px) max(2.1333333333vw, 8px);
    font-size: max(3.2vw, 12px);
  }
}
.service__other--dd {
  font-size: min(1.25vw, 15px);
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .service__other--dd {
    margin-top: max(4.2666666667vw, 16px);
    font-size: max(2.6666666667vw, 10px);
  }
}
.service__other--link {
  margin-top: min(1.3333333333vw, 16px);
}
@media screen and (max-width: 768px) {
  .service__other--link {
    margin-top: max(3.2vw, 12px);
  }
}
.service__other--link > a span.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3333333333vw, 16px);
}
.service__other--link > a span.icon-link::after {
  position: relative;
  width: min(18vw, 18px);
  height: min(18vw, 18px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-link.svg);
  mask-image: url(/assets/img/common/icon/icon-link.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #1c294f;
  transition: background-color 0.3s ease, transform 0.2s ease;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 768px) {
  .service__other--link > a span.icon-link::after {
    width: min(16vw, 16px);
    height: min(16vw, 16px);
  }
}
.service__sub {
  padding: min(6.6666666667vw, 80px) min(7.3333333333vw, 88px);
}
@media screen and (max-width: 768px) {
  .service__sub {
    padding: max(10.6666666667vw, 40px) 0;
  }
}
.service__sub--in {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .service__sub--in {
    margin-right: min(3.3333333333vw, 40px);
  }
}
@media screen and (max-width: 768px) {
  .service__sub--in {
    flex-direction: column-reverse;
    margin: 0 max(4.2666666667vw, 16px);
  }
}
.service__sub--card {
  border: 1px solid #d2d5db;
}
@media screen and (min-width: 769px) {
  .service__sub--card {
    width: 50%;
    margin-top: -1px;
  }
}
@media screen and (min-width: 769px) {
  .service__sub--card + .service__sub--card {
    margin-left: -1px;
  }
}
@media screen and (max-width: 768px) {
  .service__sub--card + .service__sub--card {
    margin-top: -1px;
  }
}
.service__sub--card--img > img {
  width: 100%;
}
.service__sub--card--wrap {
  display: flex;
  gap: min(3.3333333333vw, 40px);
  padding: min(3.3333333333vw, 40px) min(3.3333333333vw, 40px);
}
@media screen and (max-width: 768px) {
  .service__sub--card--wrap {
    padding: max(7.4666666667vw, 28px) max(5.3333333333vw, 20px);
    gap: max(5.3333333333vw, 20px);
  }
}
.service__sub--card--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: min(1.5vw, 18px);
}
@media screen and (max-width: 768px) {
  .service__sub--card--title {
    font-size: max(2.9333333333vw, 11px);
  }
}
.service__sub--card--title > .font-mincho {
  font-size: min(1.1666666667vw, 14px);
  line-height: 1;
  color: #d2d5db;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .service__sub--card--title > .font-mincho {
    font-size: max(2.4vw, 9px);
  }
}
.service__sub--card--title::before {
  content: "";
  display: block;
  position: relative;
  width: min(6.6666666667vw, 80px);
  height: min(6.6666666667vw, 80px);
}
@media screen and (max-width: 768px) {
  .service__sub--card--title::before {
    width: max(14.6666666667vw, 55px);
    height: max(14.6666666667vw, 55px);
    margin-bottom: max(1.0666666667vw, 4px);
  }
}
.--advice .service__sub--card--title::before {
  background: url(/assets/img/common/icon/icon-service-advice.svg) no-repeat center center/contain;
}
.--insourcing .service__sub--card--title::before {
  background: url(/assets/img/common/icon/icon-service-insourcing.svg) no-repeat center center/contain;
}
.--bcp .service__sub--card--title::before {
  background: url(/assets/img/common/icon/icon-service-bcp.svg) no-repeat center center/contain;
}
.--offshore .service__sub--card--title::before {
  background: url(/assets/img/common/icon/icon-service-offshore.svg) no-repeat center center/contain;
}
.service__sub--card--content {
  display: flex;
  flex-direction: column;
  margin-top: min(1.3333333333vw, 16px);
}
.service__sub--card--content > p {
  font-size: min(1.25vw, 15px);
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  .service__sub--card--content > p {
    font-size: max(2.6666666667vw, 10px);
  }
}
.service__sub--card--link {
  margin-top: min(2.6666666667vw, 32px);
}
@media screen and (max-width: 768px) {
  .service__sub--card--link {
    margin-top: max(5.3333333333vw, 20px);
  }
}
.service__sub--card--link span.icon-arrow {
  display: flex;
  align-items: center;
  gap: min(2.6666666667vw, 32px);
}

/* mission */
.mission {
  padding: min(6.6666666667vw, 80px) 0;
}
@media screen and (max-width: 768px) {
  .mission {
    padding: max(10.6666666667vw, 40px) 0;
  }
}
.mission__in {
  display: flex;
}
@media screen and (min-width: 769px) {
  .mission__in {
    margin-right: min(3.3333333333vw, 40px);
  }
}
@media screen and (max-width: 768px) {
  .mission__in {
    flex-direction: column-reverse;
    margin: 0 max(4.2666666667vw, 16px);
  }
}
@media screen and (min-width: 769px) {
  .mission__contents {
    width: calc(100% - min(50vw, 600px));
    margin-right: min(6.6666666667vw, 80px);
  }
}
@media screen and (max-width: 768px) {
  .mission__contents {
    margin-bottom: max(5.3333333333vw, 20px);
  }
}
@media screen and (min-width: 769px) {
  .mission__contents--in {
    margin-top: min(3.3333333333vw, 40px);
    margin-left: min(6.6666666667vw, 80px);
  }
}
@media screen and (max-width: 768px) {
  .mission__contents--in {
    margin-top: max(5.3333333333vw, 20px);
  }
}
.mission__contents--text {
  font-size: min(1.3333333333vw, 16px);
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .mission__contents--text {
    font-size: max(2.6666666667vw, 10px);
  }
}
@media screen and (min-width: 769px) {
  .mission__image {
    width: min(50vw, 600px);
    margin-top: min(-6.6666666667vw, -80px);
  }
}
.mission__image > img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .mission__image > img {
    display: block;
    margin: 0 auto;
  }
}
.mission__linkButton {
  margin-top: min(3.3333333333vw, 40px);
}
@media screen and (max-width: 768px) {
  .mission__linkButton {
    margin: max(10.6666666667vw, 40px) auto;
  }
}

/* 対応技術 */
.develop {
  padding-top: min(6.6666666667vw, 80px);
}
@media screen and (max-width: 768px) {
  .develop {
    padding-top: max(10.6666666667vw, 40px);
  }
}
.develop__listBox {
  background-color: #fff;
  border: 1px solid #d2d5db;
}
.develop__title {
  padding: min(3.3333333333vw, 40px) 0;
}
@media screen and (max-width: 768px) {
  .develop__title {
    padding: max(5.3333333333vw, 20px) 0;
  }
}
.develop__title > span {
  display: block;
  font-size: min(2vw, 24px);
  color: #1c294f;
  text-align: center;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .develop__title > span {
    font-size: max(4.2666666667vw, 16px);
  }
}
.develop__listWrap {
  margin: 0 auto;
  padding: 0 min(4.6666666667vw, 56px);
  margin-bottom: min(3.3333333333vw, 40px);
}
@media screen and (max-width: 768px) {
  .develop__listWrap {
    padding: 0 max(7.4666666667vw, 28px);
  }
}
.develop__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: min(1.3333333333vw, 16px);
  margin-bottom: min(2vw, 24px);
}
@media screen and (max-width: 768px) {
  .develop__list {
    gap: max(2.1333333333vw, 8px);
  }
}
.develop__item {
  position: relative;
  width: min(9.1666666667vw, 110px);
  height: min(9.1666666667vw, 110px);
  background: url(/assets/img/top/develop_bg.svg) no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  .develop__item {
    width: max(16.5333333333vw, 62px);
    height: max(16.5333333333vw, 62px);
  }
}
.develop__item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.develop__item--text > span {
  font-size: min(1.6666666667vw, 20px);
  font-weight: 300;
  letter-spacing: -0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: min(0.3333333333vw, 4px);
}
@media screen and (max-width: 768px) {
  .develop__item--text > span {
    font-size: max(3.2vw, 12px);
    gap: max(0.5333333333vw, 2px);
  }
}
.develop__item--text > span::after {
  content: "";
  display: block;
}
.dev-lang .develop__item--text > span {
  color: #3298b8;
}
.dev-lang .develop__item--text > span::after {
  width: min(20vw, 20px);
  height: min(16vw, 16px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-dev-lang.svg);
  mask-image: url(/assets/img/common/icon/icon-dev-lang.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #3298b8;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.dev-db .develop__item--text > span {
  color: #595496;
}
.dev-db .develop__item--text > span::after {
  width: min(18vw, 18px);
  height: min(24vw, 24px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-dev-db.svg);
  mask-image: url(/assets/img/common/icon/icon-dev-db.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #595496;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.dev-framework .develop__item--text > span {
  color: #34b881;
}
.dev-framework .develop__item--text > span::after {
  width: min(18vw, 18px);
  height: min(24vw, 24px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-dev-framework.svg);
  mask-image: url(/assets/img/common/icon/icon-dev-framework.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #34b881;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.develop__item--text > span.text-small {
  font-size: min(1.5vw, 18px);
  line-height: 1;
  text-align: center;
}
.develop__item::before {
  content: "";
  display: block;
}

/* システム開発に関する最新情報 */
.column {
  padding: min(13.3333333333vw, 160px) 0;
}
.column__inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 769px) {
  .column__inner {
    gap: min(2vw, 24px);
  }
}
@media screen and (max-width: 768px) {
  .column__inner {
    flex-direction: column;
  }
}
.column__title {
  font-size: min(2vw, 24px);
  color: #1c294f;
  letter-spacing: -0.05em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: min(0.6666666667vw, 8px);
  margin-bottom: min(3.3333333333vw, 40px);
}
@media screen and (max-width: 768px) {
  .column__title {
    font-size: max(4.2666666667vw, 16px);
  }
}
.column__title::after {
  content: "";
  display: block;
  width: min(3.3333333333vw, 40px);
  height: 2px;
  background-color: #fe5b00;
  margin-top: min(0.8333333333vw, 10px);
}
@media screen and (max-width: 768px) {
  .column__title::after {
    width: max(5.3333333333vw, 20px);
    margin-top: max(1.3333333333vw, 5px);
  }
}
.column__box {
  background-color: #fff;
  border: 1px solid #d2d5db;
  position: relative;
}
@media screen and (min-width: 769px) {
  .column__box {
    padding: min(3.3333333333vw, 40px) min(2.6666666667vw, 32px);
    width: calc(50% - min(2vw, 24px));
  }
}
@media screen and (max-width: 768px) {
  .column__box {
    padding: max(5.3333333333vw, 20px) max(4.2666666667vw, 16px);
  }
}
.column__box::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1c294f;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .column__box + .column__box {
    margin-top: max(5.3333333333vw, 20px);
  }
}
.column__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eaebef;
}
.column__card {
  display: flex;
  gap: min(1.3333333333vw, 16px);
  padding-top: min(2vw, 24px);
  padding-bottom: min(2.6666666667vw, 32px);
  position: relative;
}
@media screen and (max-width: 768px) {
  .column__card {
    padding-top: max(3.2vw, 12px);
    padding-bottom: max(4.2666666667vw, 16px);
  }
}
.column__card::after {
  position: absolute;
  right: 0;
  bottom: min(1.3333333333vw, 16px);
  width: min(24vw, 24px);
  height: min(16vw, 16px);
  content: "";
  display: block;
  -webkit-mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  mask-image: url(/assets/img/common/icon/icon-arrow.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #1c294f;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.column__card--contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: min(0.6666666667vw, 8px);
}
.column__card--date {
  color: #6d6b80;
  font-size: min(1.0833333333vw, 13px);
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .column__card--date {
    font-size: max(2.1333333333vw, 8px);
  }
}
.column__card--title {
  font-size: min(1.3333333333vw, 16px);
  line-height: 1;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .column__card--title {
    font-size: max(2.9333333333vw, 11px);
  }
}
.column__card--title:hover {
  color: #083388;
}
.column__card--tag {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}
.column__card--tag > span.tag {
  font-size: min(1.0833333333vw, 13px);
  color: #1c294f;
}
@media screen and (max-width: 768px) {
  .column__card--tag > span.tag {
    font-size: max(2.1333333333vw, 8px);
  }
}
.column__card + .column__card {
  border-top: 1px solid #eaebef;
}
.column__linkButton {
  margin: min(3.3333333333vw, 40px) auto;
}
@media screen and (max-width: 768px) {
  .column__linkButton {
    margin: max(5.3333333333vw, 20px) auto;
  }
}