// top
@import "../mixin/index";

// 共通幅
.common-in-maxwidth {
  max-width: 1400px;
}

/* inner */
.common__inner {
  @include mq(md, min) {
    // pc
    margin: vw_min(64px) vw_min(88px) 0;
  }

  @include mq(md, max) {
    // sp
    margin: vw_max(32px) vw_max(40px) 0;
  }
}

/* title */
.common__title {
  display: flex;
  flex-direction: column;
  gap: vw_min(40px);

  @include mq(md, max) {
    // sp
    gap: vw_max(40px);
    margin-bottom: vw_max(56px);
  }

  &--text {
    position: relative;
    display: flex;
    gap: vw_min(8px);

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
    }

    &::before {
      content: "";
      display: block;
      width: vw_min(80px);
      height: 1px;
      background-color: $color-blue-dark;
      margin-top: vw_min(16px);

      @include mq(md, max) {
        // sp
        width: vw_max(40px);
        margin-top: vw_max(24px);
      }
    }
  }

  &--textIn {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > span {
      line-height: 1.5;

      &.font-en {
        font-size: vw_min(24px);
        color: $color-blue-dark;
        letter-spacing: -0.01em;

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
        }
      }

      &.font-mincho {
        font-size: vw_min(28px);
        letter-spacing: 0.05em;

        @include mq(md, max) {
          // sp
          font-size: vw_max(32px);
        }
      }
    }
  }

  &--desc {
    font-size: vw_min(16px);
    font-weight: 400;
    margin-left: vw_min(88px);

    @include mq(md, max) {
      // sp
      font-size: vw_max(20px);
      margin: 0 vw_max(40px);
    }
  }
}

/* linkButton */
.common__linkButton {
  width: vw_min(290px);

  @include mq(md, max) {
    // sp
    width: 68%;
  }

  > a {
    width: 100%;
    display: block;
    background-color: $color-blue-dark;
    padding: vw_min(16px) 0;

    @include mq(md, max) {
      // sp
      padding: vw_max(16px) 0;
    }

    span {
      font-size: vw_min(18px);
      text-align: center;
      font-weight: 300;
      line-height: 1;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: vw_min(8px);
      margin-left: vw_min(8px);

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
        gap: vw_max(8px);
      }

      &::after {
        width: $size-24;
        height: $size-16;
        @include icon-mask("/assets/img/common/icon/icon-arrow.svg", #fff);

        @include mq(md, max) {
          // sp
          width: $size-18;
          height: $size-12;
        }
      }
    }
  }
}

/* -onbg */
.-onbg {
  background: url(/assets/img/common/bg/onbg.png) repeat left top/ 150px 150px;
}
