// top
@import "../mixin/index";

// color
.c-color-blue {
  color: $color-blue-dark;
}
.c-color-orange {
  color: $color-orange;
}

// border
.c-text-border {
  text-decoration: underline;
}

// 共通幅
.common-in-maxwidth {
  max-width: 1400px;
}

/* inner */
.common__inner {
  @include mq(md, min) {
    // pc
    margin: 0 $size-80;
  }

  @include mq(md, max) {
    // sp
    margin: 0 $size-24 0;
  }
}

/* title */
.common__title {
  display: flex;
  flex-direction: column;
  gap: $size-40;

  @include mq(md, max) {
    // sp
    gap: $size-40;
    margin-bottom: 40px;
  }

  &--text {
    position: relative;
    display: flex;
    gap: $size-8;

    @include mq(md, max) {
      // sp
      gap: vw_max(16px);
    }

    &::before {
      content: "";
      display: block;
      width: $size-80;
      height: 1px;
      background-color: $color-blue-dark;
      margin-top: $size-16;
      transform: scale(0);
      transition: transform 0.3s ease;
      transform-origin: left;

      #top & {
        margin-top: $size-20;
      }

      @include mq(md, max) {
        // sp
        width: $size-16;
        margin-top: $size-16;
      }
    }

    &.is-ani::before {
      transform: scale(1);
    }
  }

  &--textIn {
    display: flex;
    flex-direction: column;

    > span {
      line-height: 1.5;

      &.font-en {
        font-size: $size-24;
        color: $color-blue-dark;
        letter-spacing: -0.01em;

        #top & {
          font-size: $size-28;
        }

        @include mq(md, max) {
          // sp
          font-size: $size-20;
        }
      }

      &.font-mincho {
        font-size: $size-24;
        letter-spacing: 0.05em;

        #top & {
          font-size: $size-28;
        }

        @include mq(md, max) {
          // sp
          font-size: $size-20;
        }
      }
    }
  }

  &--desc {
    // margin-left: $size-80;
    font-size: $size-16;

    @include mq(md, max) {
      // sp
      font-size: $size-14;
      margin: 0 6%;
    }
  }
}

/* linkButton */
.common__linkButton {
  margin: 0 auto;

  @include mq(md, min) {
    // pc
    width: 20rem;
  }

  @include mq(md, max) {
    // sp
    width: 80%;
  }

  > a {
    width: 100%;
    display: block;
    border: 1px solid $color-blue-dark;
    padding: $size-16 0;
    position: relative;
    overflow: hidden;

    @include mq(md, max) {
      // sp
      padding: $size-16 0;
    }

    > span {
      font-size: $size-18;
      text-align: center;
      font-weight: 300;
      line-height: 1;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $size-8;
      margin-left: $size-8;
      position: relative;
      z-index: 2;

      @include mq(md, max) {
        // sp
        font-size: vw_max(26px);
        gap: vw_max(16px);
      }

      &::after {
        position: relative;
        width: $size-24;
        height: $size-16;
        @include icon-mask($path + "common/icon/icon-arrow.svg", #fff);
        transition: $transition;

        @include mq(md, max) {
          // sp
          width: $size-18;
          height: $size-12;
        }
      }
    }

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: $size-56;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: scale(0, 1);
      transform-origin: right;
      transition: $transition;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: $size-56;
      background-color: $color-blue-dark;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: scale(1, 1);
      transform-origin: left;
      transition: $transition;
    }

    &:hover {
      background-color: #fff;

      > span {
        color: $color-blue-dark;

        &::after {
          transform: translateX(4px);
          @include icon-mask(
            $path + "common/icon/icon-arrow.svg",
            $color-blue-dark
          );
        }
      }

      &:hover::before {
        transform-origin: left;
        transform: scale(1, 1);
      }

      &:hover::after {
        transform-origin: right;
        transform: scale(0, 1);
      }
    }
  }
}

/* modal */
.common__modal {
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;

  &--link {
    display: block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #3a496d, $alpha: 0.7);
      mix-blend-mode: multiply;
      z-index: 1;
      transition: background-color 0.25s ease;
    }

    > img {
      width: 100%;
      transition: transform 0.25s ease;
      z-index: -1;
    }

    &:hover {
      &::before {
        background-color: rgba($color: #3a496d, $alpha: 0.85);
      }

      > img {
        transform: scale(1.1);
      }
    }
  }

  &--text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

    > span {
      display: block;
      font-size: $size-16;
      line-height: 1;
      color: #fff;

      &::before {
        content: "";
        display: block;
        margin: 0 auto $size-16;

        @include mq(md, max) {
          // sp
          margin: 0 auto $size-8;
        }
      }
    }
  }
}

/* -onbg */
.-onbg {
  background: url($path + "common/bg/onbg.png") repeat left top/ 150px 150px;
}

/* common__borderLink */
a.common__borderLink {
  display: inline-block;
  position: relative;
  padding-bottom: $size-12;
  font-size: $size-15;
  font-weight: 500;
  color: $color-blue-dark;
  letter-spacing: 0;

  @include mq(md, min) {
    // pc
    min-width: 12rem;
  }

  @include mq(md, max) {
    // sp
    display: block;
    font-size: $size-14;
    padding-bottom: $size-12;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-gray-300;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-blue-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: scale(0, 1);
    transform-origin: right;
    transition: $transition;
  }

  .icon-arrow {
    padding-left: 8px;
    font-size: $size-14;

    @include mq(md, max) {
      // sp
      padding-left: 4px;
    }

    &::after {
      transition: $transition;
      transform: translateX(-4px);
    }
  }

  &:hover {
    color: $color-blue;

    &::before {
      background-color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
      transform-origin: left;
      transform: scale(1, 1);
    }

    .icon-arrow {
      color: $color-blue;

      &::after {
        background-color: $color-blue;
        transform: translateX(0px);
      }
    }
  }
}

/* common__caution */
.common__caution {
  padding: $size-24;
  background-color: #fff;

  @include mq(md, max) {
    // sp
    padding: vw_max(36px);
  }

  &.__onbg {
    background-color: $color-gray-100;
  }

  &--title {
    font-size: $size-16;
    font-weight: 500;
    color: $color-blue-dark;

    @include mq(md, max) {
      // sp
      font-size: $size-15;
    }
  }

  &--text {
    margin-top: $size-8;
    margin-left: $size-24;

    > li {
      list-style-type: decimal;
      font-size: $size-14;
      line-height: 1.5;
    }

    > li + li {
      margin-top: $size-8;
    }
  }
}

/* icon-arrow */
.icon-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $size-24;

  @include mq(md, max) {
    // sp
    gap: $size-16;
  }

  &::after {
    position: relative;
    width: $size-24;
    height: $size-16;
    @include icon-mask($path + "/common/icon/icon-arrow.svg", $color-blue-dark);
    transition: $transition;

    @include mq(md, max) {
      // sp
      width: $size-18;
      height: $size-12;
    }
  }
}

/* icon-arrow2 */
.icon-arrow2 {
  display: flex;
  align-items: center;

  &::before {
    position: relative;
    width: $size-16;
    height: $size-16;
    margin-right: vw_min(4px);
    @include icon-mask(
      $path + "/common/icon/icon-arrow2.svg",
      $color-blue-dark
    );
    transition: $transition;

    @include mq(md, max) {
      // sp
      margin-right: vw_max(8px);
      width: $size-16;
      height: vw_max(18px);
    }
  }
}

/* icon-arrow3 */
.icon-arrow3 {
  display: block;
  width: 0;
  height: 0;
  border-left: $size-40 solid transparent;
  border-right: $size-40 solid transparent;
  border-top: $size-32 solid $color-blue-dark;

  @include mq(md, max) {
    // sp
    border-left: $size-40 solid transparent;
    border-right: $size-40 solid transparent;
    border-top: vw_max(32px) solid $color-blue-dark;
  }
}

/* icon-arrows */
.icon-arrows {
  width: $size-32;
  height: 12rem;

  @include mq(md, max) {
    // sp
    height: 10rem;
    transform: rotate(90deg);
    margin: -40px;
  }

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    @include icon-mask($path + "common/icon/icon-arrows.svg", $color-blue-dark);
  }

  &._vetical {
    margin: calc($size-40 * -1);
    transform: rotate(90deg);
  }
}

/* icon-plus */
.icon-plus {
  width: $size-40;
  height: $size-40;

  @include mq(md, max) {
    // sp
    width: vw_max(64px);
    height: vw_max(64px);
  }

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    @include icon-mask($path + "common/icon/icon-plus.svg", $color-blue-dark);
  }
}

.icon-lupe {
  &::before {
    content: "";
    display: block;
    width: $size-60;
    height: $size-64;
    @include icon-mask($path + "common/icon/icon_lupe.svg", #fff);
  }
}

/* icon-plus-in-circle */
.icon-plus-in-circle {
  width: vw_min(50px);
  height: vw_min(50px);

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    @include icon-mask(
      $path + "common/icon/icon-plus-in-circle.svg",
      $color-blue-dark
    );
  }
}

/* icon-arrow */
.icon-blank {
  display: flex;
  align-items: center;
  gap: $size-8;

  &::after {
    position: relative;
    width: $size-16;
    height: $size-12;
    @include icon-mask($path + "/common/icon/icon-blank.svg", $color-blue-dark);
    transition: $transition;

    @include mq(md, max) {
      // sp
      width: $size-18;
      height: $size-12;
    }
  }
}

/* icon-mail */
.icon-mail {
  &::before {
    width: $size-18;
    height: $size-14;
    @include icon-mask($path + "/common/icon/icon-mail.svg", #fff);
    transition: $transition;

    @include mq(md, max) {
      // sp
      width: $size-18;
      height: $size-12;
    }
  }
}

/* .l-block */
.l-block {
  @include mq(md, min) {
    // pc
    padding-top: 80px;
    padding-left: 6%;
  }

  @include mq(md, max) {
    // sp
    padding-top: 2.4rem;
    padding-right: 7.3%;
    padding-left: 7.3%;
    margin-bottom: 4rem;
  }

  &.-full {
    @include mq(md, min) {
      // pc
      padding-right: 6%;
    }
  }
}

/* l-column */
.l-column {
  @include mq(md, min) {
    // pc
    display: grid;
    grid-template: "sub main" 1fr/250px 1fr;
    margin-bottom: 80px;
  }

  @include mq(md, max) {
    // sp
    display: flex;
    flex-direction: column;
    gap: $size-40;
  }
}

/* l-column__sub */
.l-column__sub {
  grid-area: sub;
  box-sizing: border-box;
  display: block;

  @include mq(md, min) {
    // pc
    border-right: 1px solid $color-gray-200;
    padding-right: $size-24;
  }
}

/* l-column__main */
.l-column__main {
  grid-area: main;

  @include mq(md, min) {
    // pc
    overflow: hidden;
  }

  .l-section,
  &--inner {
    margin-right: auto;
    margin-left: auto;

    @include mq(md, min) {
      // pc
      max-width: 1080px;
      padding: 0 $size-56;
    }

    .-full & {
      @include mq(md, min) {
        // pc
        max-width: 100%;
      }
    }
  }
}

/* l-column__right-side */
.l-column__right-side {
  grid-area: blank;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  height: max-content;
  top: 200px;
  position: relative;
}

/* p-over-img */
.p-over-img {
  margin-top: $size-64;

  @include mq(md, max) {
    // sp
    margin: 0 -10%;
  }

  > img {
    width: 100%;
  }
}

/* 共通カードリスト */
.common {
  &__cards--list {
    margin-top: $size-64;
    display: flex;
    flex-direction: column;
    gap: $size-24;

    @include mq(md, max) {
      // sp
      margin-top: calc($section-gap / 2);
      gap: $size-16;
    }
  }
  &__cards--item {
    background-color: #fff;
    border: 1px solid $color-gray-200;
    padding: $size-24 $size-32 $size-48;
    box-shadow: 1px 1px 10px 0px $color-gray-200;
    overflow: hidden;

    @include mq(md, max) {
      // sp
      padding: $size-24 $size-16;
    }

    &.-bg-gray {
      background-color: $color-gray-100;
      box-shadow: none;

      .common__cards--dt {
        justify-content: center;
      }
    }
  }

  &__cards--img {
    margin: vw_min(-40px) vw_min(-32px) $size-32;

    @include mq(md, max) {
      // sp
      margin: -3rem -2.5rem 0;
    }

    > img {
      width: 100%;
    }
  }

  &__cards--dt {
    font-size: $size-18;
    font-weight: 500;
    color: $color-blue-dark;
    display: flex;

    @include mq(md, max) {
      // sp
      font-size: $size-16;
      line-height: 1.5;
    }

    &._hasBorder {
      margin-top: $size-32;
      margin-bottom: $size-32;
      flex-direction: column;

      @include mq(md, max) {
        // sp
        margin-top: $size-24;
        margin-bottom: $size-24;
      }

      &::after {
        content: "";
        display: block;
        width: $size-32;
        height: 2px;
        background-color: $color-blue-dark;
        margin-top: $size-16;

        @include mq(md, max) {
          // sp
          height: 1px;
        }
      }
    }

    &._hasIcon {
      &::before {
        content: attr(data-num);
        display: block;
        font-size: $size-18;
        font-family: $font-mincho;
        margin-right: 10px;
        letter-spacing: 0;
      }
    }

    &._hasObi {
      margin-left: ($size-32 * -1);
      margin-bottom: $size-32;
      padding: $size-8 $size-32;
      font-size: $size-16;
      color: #fff;
      background-color: $color-blue-dark;

      @include mq(md, min) {
        // pc
        width: 50%;
      }

      @include mq(md, max) {
        // sp
        margin-top: $size-24;
        margin-bottom: $size-24;
      }
    }
  }

  &__cards--dd {
    margin-top: $size-16;
    font-size: $size-15;
    line-height: 1.5;
    // letter-spacing: -0.025rm;

    @include mq(md, max) {
      // sp
      font-size: $size-14;
      line-height: 1.75;
    }

    > p + p {
      margin-top: 16px;
    }

    span.text-large {
      font-size: $size-16;
      font-weight: 500;
      color: $color-blue-dark;

      @include mq(md, max) {
        // sp
        font-size: $size-15;
      }
    }
  }
  &__cards--linkList {
    margin-top: $size-32;
  }
  &__cards--link {
    // width: vw_min(160px);

    @include mq(md, max) {
      // sp
      width: 50%;
    }
  }
}

/* c-tags */
.c-tags {
  &__list {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__item {
    > a {
      font-size: $size-14;
      color: $color-blue-dark;

      span {
        display: flex;
        align-items: center;
      }
    }
  }
  &__item + &__item {
    margin-left: 8px;
  }
}

/* icon-tag */
.icon-tag {
  &::before {
    position: relative;
    width: $size-16;
    height: $size-14;
    @include icon-mask($path + "common/icon/icon-tag.svg", $color-blue-dark);
    transition: $transition;

    @include mq(md, max) {
      // sp
      width: $size-14;
      height: $size-12;
    }
  }
}

/* c-over-border */
.c-over-border-top {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    width: 200%;
    content: "";
    display: block;
    border-top: 1px solid $color-gray-300;
    margin-left: -16%;
    margin-right: -16%;
  }
}

/* 字下げ */
.c-indent {
  display: block;
  text-indent: -2.6em;
  padding-left: 2.6em;
}

.c-btn-circle {
  &__link {
    display: flex;
    align-items: center;
    gap: $size-16;

    &:hover {
      .c-btn-circle__circle {
        background-color: $color-blue-dark;
        transform: scale(1.1);

        &::after {
          background-color: #fff;
        }
      }

      .c-btn-circle__text {
        &::before {
          transform: scale(1);
          transform-origin: left;
          // transform-origin: left;
        }
      }
    }
  }
  &__text {
    transition: 0.2s;
    display: flex;
    flex-direction: column-reverse;
    transition: color 0.2s ease;
    font-size: $size-16;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 500;
    color: $color-blue-dark;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-blue-dark;
      transition: transform 0.2s ease;
      transform: scale(0);
      transform-origin: right;
      position: relative;
      bottom: -8px;
    }
  }

  &__circle {
    position: relative;
    display: block;
    width: $size-56;
    height: $size-56;
    border: 1px solid $color-blue-dark;
    border-radius: 50rem;
    transition: 0.2s;

    &::after {
      width: $size-20;
      height: $size-20;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.2s;
    }
  }
}

.c-text-right {
  text-align: right;
}

.c-bg-white {
  background-color: #fff;
}
