// top
@import "../mixin/index";

// 共通幅
.sub {
  &__breadcrumbs {
    border-top: 1px solid $color-gray-300;
    border-bottom: 1px solid $color-gray-300;

    @include mq(md, min) {
      // pc
      padding: $size-8 $size-40;
    }

    @include mq(md, max) {
      // sp
      padding: 1% 2%;
      // padding: vw_max(8px) vw_max(24px);
    }

    &--list {
      display: flex;
      align-items: center;
      gap: vw_min(5px);

      @include mq(md, max) {
        // sp
        gap: vw_max(6px);
      }
    }

    &--item {
      > a,
      span {
        display: block;
        font-size: vw_min(10px);
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: vw_max(13px);
        }

        &:hover {
          color: $color-blue-dark;
        }

        &._current {
          font-weight: 500;
          color: $color-blue-dark;
        }
      }
    }

    &--item + &--item {
      position: relative;
      display: flex;
      align-items: center;
      gap: vw_min(8px);

      @include mq(md, max) {
        // sp
        gap: vw_max(12px);
      }

      &::before {
        content: "";
        display: block;
        width: vw_min(4px);
        height: vw_min(4px);
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        transform: rotate(135deg);

        @include mq(md, max) {
          // sp
          width: vw_max(7px);
          height: vw_max(7px);
          border-top: 0.05rem solid #333;
          border-left: 0.05rem solid #333;
        }
      }
    }
  }

  &__heading {
    position: relative;
    padding-top: $size-80;
    display: flex;
    flex-direction: column;
    gap: $size-40;

    @include mq(md, max) {
      // sp
      padding-top: $size-40;
    }

    &--text {
      position: relative;
      display: flex;
      gap: $size-16;

      @include mq(md, max) {
        // sp
        gap: vw_max(16px);
      }

      &::before {
        content: "";
        display: block;
        width: $size-80;
        height: 1px;
        background-color: $color-blue-dark;
        margin-top: $size-16;

        @include mq(md, max) {
          // sp
          width: vw_max(40px);
          margin-top: vw_max(24px);
        }
      }
    }

    &--textIn {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mq(md, max) {
        // sp
        gap: vw_max(8px);
      }

      > span {
        line-height: 1.5;
        text-shadow: -1px 2px 2px #fff;

        &.font-en {
          font-size: $size-24;
          color: $color-blue-dark;
          letter-spacing: -0.01em;

          @include mq(md, max) {
            // sp
            font-size: vw_max(32px);
            font-weight: 500;
          }
        }

        &.font-mincho {
          font-size: vw_min(32px);
          letter-spacing: 0.05em;

          @include mq(md, max) {
            // sp
            font-size: vw_max(42px);
            font-weight: 600;
          }
        }
      }
    }

    &--desc {
      font-size: $size-16;
      font-weight: 400;
      margin-left: vw_min(88px);
    }
  }

  &__headingAction {
    width: 100%;
    background-color: $color-blue-dark;
    margin-top: $size-40;

    @include mq(md, max) {
      // sp
      margin-top: $size-24;
    }

    &--in {
      @include mq(md, min) {
        // pc
        width: 50%;
        padding: $size-40 vw_min(56px) vw_min(56px) vw_min(88px);
      }

      @include mq(md, max) {
        // sp
        padding: vw_max(48px) vw_max(40px);
      }
    }

    &--text {
      color: #fff;
      font-size: vw_min(15px);
      font-weight: 400;

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
      }
    }

    &--list {
      display: flex;
      margin-top: $size-24;
      gap: $size-24;

      @include mq(md, max) {
        // sp
        gap: $size-16;
      }
    }

    &--item {
      width: 100%;

      @include mq(md, max) {
        // sp
        width: calc(50% - vw_max(16px));
      }

      > a {
        width: 100%;
        height: 100%;
        padding: $size-20 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw_min(18px);
        text-align: center;
        line-height: 1;
        color: #fff;

        @include mq(md, max) {
          // sp
          padding: vw_max(24px) 0;
          font-size: vw_max(28px);
        }

        &._download {
          font-weight: 500;
          background-color: $color-blue;
          border: 1px solid $color-blue;

          &::before {
            width: $size-14;
            height: $size-18;
            margin-right: 8px;
            @include icon-mask($path + "common/icon/icon-paper.svg", #fff);

            @include mq(md, max) {
              // sp
              width: $size-18;
              height: $size-24;
              margin-right: vw_max(16px);
            }
          }

          &:hover {
            color: $color-blue;
            background-color: #fff;

            &::before {
              background-color: $color-blue;
            }
          }
        }

        &._inquiry {
          background-color: $color-orange;

          &::before {
            width: $size-20;
            height: $size-16;
            margin-right: 8px;
            @include icon-mask($path + "common/icon/icon-mail.svg", #fff);

            @include mq(md, max) {
              // sp
              width: $size-24;
              height: $size-20;
              margin-right: vw_max(16px);
            }
          }

          &:hover {
            color: $color-orange;
            background-color: #fff;

            &::before {
              background-color: $color-orange;
            }
          }
        }
      }
    }
  }

  &__headingImg {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

    @include mq(md, min) {
      // pc
      width: 50%;
      height: calc(100% - vw_min(56px));
      z-index: 10;
    }

    @include mq(md, max) {
      // sp
      z-index: -1;
      filter: blur(2px);
      opacity: 0.35;
      overflow: hidden;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq(md, max) {
        // sp
        margin-top: -10px;
      }
    }
  }

  &__container {
    margin-bottom: $section-gap;

    @include mq(md, max) {
      // sp
      margin-bottom: calc($section-gap / 2);
    }
  }

  &__contents {
    margin: $size-80 0;
    padding: 0 $size-80;

    @include mq(md, max) {
      // sp
      margin: vw_max(80px) 0;
      padding: 0 vw_max(80px);
    }

    &--title {
      margin-bottom: $size-40;

      @include mq(md, max) {
        // sp
        margin-bottom: $size-32;
      }

      > span {
        line-height: 1.5;
        font-size: $size-28;

        @include mq(md, max) {
          // sp
          font-size: $size-20;
          letter-spacing: 0;
        }

        &::before {
          content: "";
          display: block;
          width: $size-40;
          height: 1px;
          background-color: $color-blue-dark;
          margin-bottom: $size-24;
        }
      }
    }

    &--subtitle {
      margin-bottom: $size-48;

      > span {
        font-size: $size-22;
        line-height: 1.5;
        font-weight: 500;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-18;
        }

        &::after {
          content: "";
          display: block;
          width: $size-80;
          height: 1px;
          background-color: $color-blue-dark;
          margin-top: $size-24;

          @include mq(md, max) {
            // sp
            margin-top: 16px;
            margin-bottom: 16px;
          }
        }
      }
    }

    &--desc {
      font-size: $size-16;
      line-height: 1.75;

      @include mq(md, max) {
        // sp
        font-size: $size-15;
      }

      > .desc-large {
        display: block;
        font-size: $size-20;
        line-height: 1.5;
        font-weight: 500;
        color: $color-blue-dark;
        margin-bottom: 32px;

        @include mq(md, max) {
          // sp
          font-size: $size-16;
        }
      }
    }
  }

  &__contentWrap {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    @include mq(md, min) {
      // pc
      width: calc(100% - vw_min(260px));
      margin-left: $size-80;
    }
  }

  &__side {
    &--in {
      @include mq(md, min) {
        // pc
        position: sticky;
        top: 20px;
        left: 0;
      }
    }
    &--heading {
      font-size: $size-14;
      font-weight: 500;
      color: $color-blue-dark;
    }
    &--list {
      margin-top: $size-12;
      margin-bottom: $size-12;
    }

    &--item {
      > a {
        font-size: $size-12;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1;
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
          padding: 16px 0;
          border-bottom: 1px solid $color-gray-300;
        }

        &::before {
          content: "";
          display: block;

          @include mq(md, min) {
            // pc
            width: 4px;
            height: 4px;
            background-color: $color-blue-dark;
            opacity: 0;
          }

          @include mq(md, max) {
            // sp
            box-sizing: border-box;
            position: absolute;
            width: 8px;
            height: 8px;
            border-style: solid;
            border-width: 0 1px 1px 0;
            transform: translate(0, -50%) rotate(45deg);
            border-color: #242422;
            transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s,
              border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
            backface-visibility: hidden;
            top: 48%;
            right: 8px;
          }
        }

        &::after {
          @include mq(md, max) {
            // sp
            content: "";
            box-sizing: border-box;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 24px;
            height: 24px;
            border: solid 1px #ddd;
            border-radius: 50%;
            transition: border-color cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
          }
        }

        &._current {
          font-weight: 500;

          &::before {
            opacity: 1;
          }
        }
      }
    }

    &--item + &--item {
      margin-top: 16px;

      @include mq(md, max) {
        // sp
        margin-top: vw_max(16px);
      }
    }
  }
}

/* 下層コラム */
.subColumn {
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: $size-24;
    color: $color-blue-dark;
    letter-spacing: -0.05em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $size-8;
    margin-bottom: 40px;

    @include mq(md, max) {
      // sp
      font-size: vw_max(40px);
    }

    &::after {
      content: "";
      display: block;
      width: $size-40;
      height: 2px;
      background-color: $color-orange;
      margin-top: vw_min(10px);

      @include mq(md, max) {
        // sp
        width: vw_max(40px);
        margin-top: vw_max(10px);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-gray-200;
    border-top: 1px solid $color-gray-200;
  }

  &__card {
    position: relative;

    @include mq(md, max) {
      // sp
      gap: vw_max(32px);
    }

    &--link {
      display: flex;
      gap: $size-24;
      padding: vw_min(32px) $size-24;

      @include mq(md, max) {
        // sp
        gap: vw_max(32px);
        padding: vw_max(48px) vw_max(16px);
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: $size-24;
        width: $size-32;
        height: $size-24;
        transition: transform 0.3s ease;
        @include icon-mask(
          $path + "common/icon/icon-arrow.svg",
          $color-blue-dark
        );

        @include mq(md, min) {
          // pc
          transform: translateX(-24px);
        }

        @include mq(md, max) {
          // sp
          bottom: vw_max(24px);
        }
      }

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.05);
        .caseItem__img img {
          transform: scale(1.1);
        }

        &::after {
          transform: translateX(-8px);
          right: 0;
        }
      }
    }

    &--thumb {
      width: vw_min(240px);

      @include mq(md, max) {
        // sp
        width: vw_max(160px);
      }

      > img {
        width: 100%;
      }
    }

    &--contents {
      width: calc(100% - vw_min(240px) - $size-24);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: vw_min(8px);

      @include mq(md, max) {
        // sp
        width: calc(100% - vw_max(160px) - vw_max(24px));
        gap: vw_max(12px);
      }
    }

    &--date {
      color: #6d6b80;
      font-size: vw_min(13px);
      line-height: 1;

      @include mq(md, max) {
        // sp
        font-size: vw_max(24px);
      }
    }

    &--title {
      font-size: $size-16;
      line-height: 1;
      font-weight: 500;
      margin-top: vw_min(8px);

      @include mq(md, max) {
        // sp
        font-size: vw_max(26px);
        line-height: 1.5;
      }

      &:hover {
        color: $color-blue;
      }
    }

    &--desc {
      margin-top: vw_min(8px);
      font-size: vw_min(14px);

      font-weight: 400;
      line-height: 1.25;
      overflow: hidden;

      @include mq(md, max) {
        // sp
        font-size: vw_max(22px);
      }

      > span {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    &--tag {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 8px;
      align-items: center;

      @include mq(md, max) {
        // sp
        gap: vw_max(8px);
      }

      > span.tag {
        font-size: $size-14;
        line-height: 1;
        color: $color-blue-dark;
        display: block;

        @include mq(md, max) {
          // sp
          font-size: vw_max(22px);
          line-height: 1;
        }
      }
    }
  }

  &__card + &__card {
    border-top: 1px solid $color-gray-200;
  }

  &__linkButton {
    margin-top: 40px;
  }
}

/* 下層事例 */
.subCase {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $section-gap;

  @include mq(md, max) {
    // sp
    margin-top: calc($section-gap / 2);
  }

  &__titleImg {
    padding-top: vw_min(320px);
    padding-bottom: vw_min(64px);
    background: url($path + "top/case/case_bg.jpg") no-repeat center center /
      cover;

    @include mq(md, max) {
      // sp
      padding-top: vw_max(240px);
      padding-bottom: vw_max(64px);
    }

    .common__title {
      @include mq(md, min) {
        // pc
        flex-direction: inherit;
        align-items: center;
      }

      @include mq(md, max) {
        // sp
        margin-bottom: 0;
      }
    }

    .common__title,
    .common__title--textIn > span.font-en {
      color: #fff;
    }
    .common__title--text::before {
      background-color: #fff;
    }
    .common__title--desc {
      @include mq(md, min) {
        // pc
        margin-top: vw_min(56px);
      }
    }
  }

  &__toggle {
    border: 1px solid $color-gray-300;

    @include mq(md, min) {
      // pc
      margin: 0 $size-80 vw_min(64px);
      padding: vw_min(32px) $size-40;
    }

    @include mq(md, max) {
      // sp
      margin: vw_max(64px) 0;
      padding: vw_max(32px) vw_max(40px);
    }

    &--title {
      display: block;
      font-size: $size-24;
      color: $color-blue-dark;
      text-align: center;

      @include mq(md, max) {
        // sp
        font-size: vw_max(28px);
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-16;
      margin: vw_min(32px) 0;

      @include mq(md, max) {
        // sp
        margin: vw_max(40px) 0 0;
        gap: vw_max(24px);
      }
    }

    &--item {
      width: calc(100% / 5 - vw_min(13px));

      @include mq(md, max) {
        // sp
        width: calc(100% / 2 - vw_max(16px));
      }

      > a {
        display: block;
        font-size: $size-16;
        color: $color-blue-dark;
        text-align: center;
        font-weight: 500;
        padding: vw_min(8px) 0;
        border-radius: 4px;
        background-color: $color-gray-200;
        transition: background-color 0.3s ease;

        @include mq(md, max) {
          // sp
          padding: vw_max(8px) 0;
          font-size: vw_max(24px);
        }

        &:hover {
          background-color: rgba($color: $color-blue, $alpha: 0.2);
        }
      }
    }
  }

  &__cardList {
    &--list {
      display: flex;
      flex-wrap: wrap;

      @include mq(md, max) {
        // sp
        gap: 8px;
      }
    }
  }

  .subCaseItem {
    border: 1px solid $color-gray-300;
    box-sizing: border-box;

    @include mq(md, min) {
      // pc
      width: calc(100% / 3);
      margin-right: -1px;
    }

    @include mq(md, max) {
      // sp
      width: calc(100% / 2 - 4px);
    }

    &__link {
      display: block;

      &:hover {
        background-color: rgba($color: $color-blue, $alpha: 0.05);
        .caseItem__img img {
          transform: scale(1.1);
        }
      }
    }

    &__img {
      overflow: hidden;
      > img {
        width: 100%;
        transition: transform 0.3s ease;
      }
    }

    &__contents {
      padding: $size-24;
      display: flex;
      flex-direction: column;
      gap: $size-12;

      @include mq(md, max) {
        // sp
        padding: 8% 4%;
        gap: 8px;
      }

      &--company {
        font-size: $size-14;

        @include mq(md, max) {
          // sp
          font-size: $size-12;
          line-height: 1.5;
        }
      }
      &--title {
        font-size: $size-16;
        font-weight: 500;
        line-height: 1;
        color: $color-blue-dark;

        @include mq(md, max) {
          // sp
          font-size: $size-14;
        }
      }

      &--desc {
        font-size: $size-14;
        font-weight: 400;
        line-height: 1.25;
        overflow: hidden;

        @include mq(md, max) {
          // sp
          font-size: $size-12;
        }

        > span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      &--tagWrap {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      &--tag {
        display: flex;
        font-size: $size-15;
        color: $color-blue-dark;
      }
    }
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  &__item {
    font-size: $size-12;
    line-height: 1;
    color: $color-blue-dark;
    display: block;
  }

  &.icon-tag {
    display: flex;
    align-items: center;
    color: $color-blue-dark;

    &::before {
      position: relative;
      width: $size-14;
      height: $size-12;
      @include icon-mask($path + "common/icon/icon-tag.svg", $color-blue-dark);
      transition: $transition;

      @include mq(md, max) {
        // sp
        width: $size-14;
        height: $size-12;
      }
    }
  }
}
