// footer
@import "../mixin/index";

.footer {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $size-24;
  padding-top: vw_min(80px);

  @include mq(md, max) {
    // sp
    padding: vw_max(80px) vw_max(64px);
  }

  &__in {
    display: flex;
    justify-content: space-between;

    @include mq(md, max) {
      // sp
      flex-direction: column;
    }
  }

  &__logo {
    > a {
      width: 100%;
      display: block;
      img {
        width: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    @include mq(md, min) {
      // pc
      gap: $size-32;
      margin-left: $size-24;
    }

    @include mq(md, max) {
      // sp
      margin-top: vw_max(80px);
      gap: vw_max(24px);
      flex-direction: column;
    }
  }

  &__nav--list {
  }

  &__nav--item {
    > a {
      &._textBold {
        font-weight: 600;
        font-size: $size-14;
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: vw_max(24px);
        }
      }

      &._textThin {
        font-size: $size-13;
        line-height: 1;
      }

      &:hover {
        color: $color-blue;
      }
    }
  }

  &__cookie {
    display: flex;
    align-items: center;
    gap: $size-16;
    margin-top: $size-80;
    margin-bottom: $size-32;
    padding-bottom: $size-32;
    border-bottom: $border;
    
    @include mq(md, max) {
      // sp
      flex-direction: column;
      gap: vw_max(40px);
      margin-top: vw_max(40px);
      padding-bottom: vw_max(80px);
      margin-bottom: vw_max(56px);
    }

    &--text {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(18px);
      }
    }
    &--links {
      display: flex;
      gap: $size-16;
    }
    &__cookie--link {
      > a {
        img {
          width: 100%;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $size-16;
    margin-top: $size-80;
    margin-bottom: $size-32;
    padding-bottom: $size-32;

    @include mq(md, max) {
      // sp
      flex-direction: column;
    }

    &--text {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
      }
    }
    &--links {
      display: flex;
      gap: $size-16;
    }
    &--link a {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }
}
