// header
@import "../mixin/index";

.header {
  position: relative;

  &__in {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-left: $size-16;
  }

  &__navin {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 0 $size-24;
    gap: 4px;
  }

  &__nav--in {
    display: flex;
    justify-content: flex-end;
  }

  &__nav--list {
    display: flex;
    gap: $size-20;
  }

  &__nav--item {
    position: relative;

    > a {
      display: block;
      line-height: 1;

      ._navMain & {
        padding: $size-16 0;
        font-size: $size-14;
        font-weight: 500;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $color-blue;
          position: absolute;
          bottom: 0;
          transform: scale(0, 1);
          transform-origin: center;
          transition: $transition;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }

      ._navSub & {
        font-size: $size-12;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          background-color: #222;
          display: block;
          -webkit-mask-image: url(/assets/img/common/icon/icon-blank.svg);
          mask-image: url(/assets/img/common/icon/icon-blank.svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-size: 100%;
          mask-size: 100%;
          width: $size-16;
          height: $size-16;
          margin-right: 4px;
          transition: background-color 0.3s ease;
        }

        &:hover {
          color: $color-blue;

          &::before {
            background-color: $color-blue;
          }
        }
      }
    }
  }

  &__inquiry {
    width: 164px;

    &--btn {
      width: 100%;

      > a {
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-size: $size-16;
        padding: $size-12 0;
        display: flex;
        justify-content: center;

        &._download {
          background-color: $color-blue;

          &::before {
            width: $size-14;
            height: $size-18;
            margin-right: 8px;
            @include icon-mask("/assets/img/common/icon/icon-paper.svg", #fff);
          }
        }
        &._inquiry {
          background-color: $color-orange;

          &::before {
            width: $size-20;
            height: $size-16;
            margin-right: 8px;
            @include icon-mask("/assets/img/common/icon/icon-mail.svg", #fff);
          }
        }
      }
    }
  }

  &__toggle {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    border-bottom: $border;

    &._isShow {
      opacity: 1;
      height: auto;
      visibility: visible;
    }

    &--in {
      max-width: $max-width;
      margin: 0 auto;
      padding: $size-40 $size-80;
      display: flex;
      gap: $size-40;
    }

    &--nav {
      display: flex;
      flex-direction: column;
    }

    &--heading {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      > span {
        color: $color-blue;
      }
      &--text {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: $size-20;
        line-height: 1;
        font-weight: 600;
      }

      .font-en {
        font-size: $size-18;
        font-weight: 500;
        letter-spacing: 0;
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-16;
    }

    &--item {
      position: relative;
      @include calc-width-size(240);

      > a {
        width: 100%;
        font-size: $size-14;
        padding-bottom: 8px;
        border-bottom: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $size-16;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: $color-blue;
          bottom: 0;
          transform: scale(0, 1);
          transform-origin: right;
          transition: transform 0.3s ease;
        }

        &:hover {
          color: $color-blue;

          &::before {
            transform: scale(1, 1);
            transform-origin: left;
          }
        }
      }

      .icon-arrow::after {
        transform: translateX(-5px);
      }

      a.icon-arrow:hover {
        &::after {
          transform: translateX(0px);
        }
      }
    }
  }
}

.icon-arrow._after {
  &::after {
    width: $size-24;
    height: 4px;
    @include icon-mask("/assets/img/common/icon/icon-arrow.svg", $color-blue);
  }
}
