@import "./variable.scss";

html {
  // font-size: 62.5%;
}

body {
  background-color: #fbfbfb;
  font-family: $font-noto;
  color: $color-text;
  font-weight: normal;
  line-height: 1.8;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
a {
  color: $color-text;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
  }
}
::selection {
  background: $color-blue;
  color: #fff;
}
::-moz-selection {
  background: $color-blue;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .ah:hover {
    opacity: 1;
  }
}

/**
 * scroll bar
 */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: $color-blue-dark;
  margin: 2px;
  box-shadow: none;
}

// fonts
.font-en {
  font-family: $font-en;
}
.font-mincho {
  font-family: $font-mincho;
}
.font-robot {
  font-family: $font-robot;
}
