// footer
@import "../mixin/index";

.footer {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $size-24;
  padding-top: vw_min(80px);

  @include mq(md, max) {
    // sp
    padding: $size-32 $size-16;
  }

  &__in {
    display: flex;
    justify-content: space-between;

    @include mq(md, max) {
      // sp
      flex-direction: column;
      margin-bottom: $size-32;
    }
  }

  &__logo {
    > a {
      width: 100%;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    @include mq(md, min) {
      // pc
      gap: $size-56;
      margin-left: $size-24;
    }

    @include mq(md, max) {
      // sp
      margin-top: 40px;
      flex-direction: column;
      gap: $size-16;
    }
  }

  &__nav--list {
  }

  &__nav--item {
    line-height: 1;
    padding: 6px 0;

    > a {
      display: block;

      &._textBold {
        font-size: $size-14;
        font-weight: 600;
        line-height: 1;
      }

      &._textThin {
        font-size: $size-13;
        line-height: 1;

        @include mq(md, max) {
          // sp
          font-size: $size-12;
        }
      }

      &:hover {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }

  &__cookie {
    display: flex;
    align-items: center;
    gap: $size-16;
    margin-top: $size-80;
    margin-bottom: $size-32;
    padding-bottom: $size-32;
    border-bottom: $border;

    @include mq(md, max) {
      // sp
      flex-direction: column;
      gap: vw_max(40px);
      margin-top: vw_max(40px);
      padding-bottom: vw_max(80px);
      margin-bottom: vw_max(56px);
    }

    &--text {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
        font-size: vw_max(18px);
      }
    }
    &--link {
      display: flex;
      align-items: center;

      @include mq(md, max) {
        // sp
        margin-top: 24px;
      }

      &--item {
        width: 50%;

        img {
          width: 100%;
          margin: 0 auto;
        }

        &.-privacymark img {
          @include mq(md, min) {
            // pc
            max-width: 80px;
          }

          @include mq(md, max) {
            // sp
            max-width: 80px;
          }
        }

        &.-isms img {
          @include mq(md, min) {
            // pc
            max-width: 280px;
          }

          @include mq(md, max) {
            // sp
            max-width: 160px;
          }
        }

        > a {
          display: block;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $size-16;
    margin-top: $size-80;
    margin-bottom: $size-32;
    padding-bottom: $size-32;

    @include mq(md, max) {
      // sp
      margin-top: $size-40;
      flex-direction: column-reverse;
    }

    &--text {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;

      @include mq(md, max) {
        // sp
      }
    }
    &--links {
      display: flex;
      gap: $size-16;
    }
    &--link a {
      font-size: $size-10;
      line-height: 1.5;
      letter-spacing: 0;
      &:hover {
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }
}

// backtop
.backtop {
  position: fixed;
  bottom: $size-24;
  right: $size-24;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  z-index: 9999;

  @include mq(md, max) {
    // sp
    bottom: 4%;
    right: 6%;
  }

  &.is-active {
    transform: translateY(0px);
  }

  &__link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $color-blue-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    transition: background-color 0.3s ease, visibility 0.3s ease,
      opacity 0.3s ease, border 0.3s ease, transform 0.3s ease, border 0.3s ease;
    opacity: 0;
    visibility: hidden;

    .is-active & {
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      border: 1px solid $color-blue-dark;
      background-color: #fff;
      transform: scale(1.05);

      > span::before {
        background-color: $color-blue-dark;
      }
    }
  }

  .icon-arrow2 {
    &::before {
      margin: 0;
      transform: rotate(-90deg);
      background-color: #fff;
    }
  }
}
