// header
@import "../mixin/index";

#fullWrap.is-headerFixed {
  padding-top: 82px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;

  @include mq(md, max) {
    // sp
    overflow: hidden;
  }

  &.is-fixed {
    background-color: #fbfbfb;
    z-index: 9999;
    border-bottom: 1px solid $color-gray-300;
    opacity: 1;
    visibility: visible;
  }

  &.is-top {
    position: relative;
    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid $color-gray-300;
  }

  // #top & {
  //   top: 0;
  //   left: 0;
  //   z-index: 10;
  //   position: fixed;

  //   @include mq(md, min) {
  //     // pc
  //     transform: translateY(-100px);
  //     opacity: 0;
  //   }
  // }

  // &._notfixed {
  //   @include mq(md, min) {
  //     // pc
  //     position: absolute !important;
  //     transform: translateY(0px) !important;
  //     opacity: 1 !important;
  //   }
  // }

  // &.scrolled-top {
  //   position: fixed !important;
  //   transform: translateY(0px) !important;
  //   opacity: 1 !important;
  //   z-index: 999;
  //   background-color: #fff;
  //   border-bottom: $border;
  // }

  // &._remove {
  //   transform: translateY(-100px);
  // }

  @include mq(md, max) {
    // sp
    position: relative;
    z-index: 9999;
    opacity: 1;
  }

  &._contact {
    padding: $size-16 0;

    @include mq(md, max) {
      // sp
      padding: $size-8 0;
    }
  }

  &__in {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-left: $size-16;

    @include mq(md, max) {
      // sp
      padding: 2% 0% 3% 2%;

      img {
        max-width: 80px;
      }
    }
  }

  &__navin {
    display: flex;
    justify-content: space-between;

    @include mq(md, max) {
      // sp
      width: 100%;
      height: 100%;
      padding-bottom: 64px;
      overflow-y: auto;
      overflow-x: hidden;
      position: fixed;
      top: 0;
      flex-direction: column;
      background-color: $color-blue-dark;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease;
      z-index: 999;
      pointer-events: auto;

      ._active & {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 0 $size-24;
    gap: 4px;

    @include mq(md, max) {
      // sp
      width: 100%;
      padding: $size-24 0 0;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__nav--in {
    display: flex;

    @include mq(md, min) {
      // pc
      justify-content: flex-end;
    }

    @include mq(md, max) {
      // sp
      padding: $size-16 0;
    }
  }

  &__nav--list {
    display: flex;
    gap: $size-20;

    @include mq(md, max) {
      // sp
      flex-direction: column;
      gap: $size-16;
    }
  }

  &__nav--item {
    position: relative;

    > a {
      display: block;
      line-height: 1;

      ._navMain & {
        font-weight: 500;
        font-size: $size-14;

        @include mq(md, min) {
          // pc
          padding: $size-16 0;
        }

        @include mq(md, max) {
          // sp
          color: #fff;
          font-size: $size-15;
        }

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: $color-blue;
          position: absolute;
          bottom: 0;
          transform: scale(0, 1);
          transform-origin: center;
          transition: $transition;

          @include mq(md, max) {
            // sp
            content: none;
          }
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }

      ._navSub & {
        font-size: $size-12;
        display: flex;
        align-items: center;

        @include mq(md, max) {
          // sp
          font-size: $size-15;
          color: #fff;
        }

        &::before {
          content: "";
          background-color: #222;
          display: block;
          -webkit-mask-image: url($path + "common/icon/icon-blank.svg");
          mask-image: url($path + "common/icon/icon-blank.svg");
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-size: 100%;
          mask-size: 100%;
          width: $size-16;
          height: $size-16;
          margin-right: 4px;
          transition: background-color 0.3s ease;

          @include mq(md, max) {
            // sp
            width: $size-24;
            height: $size-24;
            margin-right: vw_max(8px);
            background-color: #fff;
          }
        }

        &:hover {
          color: $color-blue;

          &::before {
            background-color: $color-blue;
          }
        }
      }

      #top ._top & {
        color: #fff;

        &::before {
          background-color: #fff;
        }
      }

      #top ._top.scrolled-top & {
        color: #333;

        &::before {
          background-color: #333;
        }
      }
    }

    &.is-current a::before {
      transform: scale(1, 1);
    }
  }

  &__nav--item--childList {
    margin-left: $size-16;

    .header__nav--item + .header__nav--item {
      margin-top: $size-16;
    }
  }

  &__inquiry {
    width: 164px;

    @include mq(md, max) {
      // sp
      width: calc(100% - vw_max(80px));
      display: flex;
      align-items: center;
      gap: $size-16;
      margin: $size-16 auto;
    }

    &--btn {
      width: 100%;

      @include mq(md, max) {
        // sp
        width: 50%;
      }

      > a {
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-size: $size-16;
        padding: $size-12 0;
        display: flex;
        justify-content: center;

        @include mq(md, max) {
          // sp
          padding: $size-16 0;
          font-size: $size-18;
        }

        &._download {
          background-color: $color-blue;

          &::before {
            width: $size-14;
            height: $size-18;
            margin-right: 8px;
            @include icon-mask($path + "common/icon/icon-paper.svg", #fff);

            @include mq(md, max) {
              // sp
              width: $size-16;
              height: $size-20;
              margin-right: vw_max(16px);
            }
          }

          &:hover {
            background-color: lighten($color-blue, 5%);
          }
        }

        &._inquiry {
          background-color: $color-orange;

          &::before {
            width: $size-20;
            height: $size-16;
            margin-right: 8px;
            @include icon-mask($path + "common/icon/icon-mail.svg", #fff);

            @include mq(md, max) {
              // sp
              width: $size-24;
              height: $size-20;
              margin-right: vw_max(16px);
            }
          }

          &:hover {
            background-color: darken($color-orange, 5%);
          }
        }
      }
    }
  }

  &__toggle {
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    border-top: $border;
    border-bottom: $border;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    // box-shadow: #eee 0 8px 16px;
    opacity: 0;

    &._isShow {
      opacity: 1;
      height: auto;
      visibility: visible;

      @include mq(md, max) {
        // sp
        visibility: hidden;
      }
    }

    &--in {
      max-width: $max-width;
      margin: 0 auto;
      padding: $size-40 $size-80;
      display: flex;
      gap: $size-40;
    }

    &--nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--heading {
      display: flex;
      align-items: center;
      gap: $size-8;
      margin-bottom: $size-28;

      &:hover {
        opacity: 0.8;
      }

      > span {
        color: $color-blue;
      }

      &--text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $size-16;
        font-size: $size-18;
        line-height: 1;
        font-weight: 600;
      }

      .font-en {
        font-size: $size-14;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 0;
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-16 $size-24;
    }

    &--item {
      position: relative;

      @include mq(md, min) {
        // pc
        min-width: 160px;
      }

      > a {
        width: 100%;
        font-size: $size-14;
        font-weight: 500;
        padding-bottom: 8px;
        border-bottom: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $size-16;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: $color-blue;
          bottom: 0;
          transform: scale(0, 1);
          transform-origin: right;
          transition: transform 0.3s ease;
        }

        &:hover {
          color: $color-blue;

          &::before {
            transform: scale(1, 1);
            transform-origin: left;
          }
        }
      }

      .icon-arrow::after {
        transform: translateX(-5px);
      }

      a.icon-arrow:hover {
        &::after {
          transform: translateX(0px);
        }
      }
    }
  }

  &__hamburger {
    @include mq(md, max) {
      // sp
      width: 64px;
    }

    @include mq(md, min) {
      // pc
      display: none;
    }
  }

  .hamburger {
    background-color: transparent;
    border-color: transparent;
    position: fixed;
    z-index: 9999;
    top: 16px;
    right: 8px;

    @include mq(md, max) {
      // sp
      top: 16px;
      right: 16px;
    }

    > span {
      width: 100%;
      height: 1px;
      background-color: #000;
      position: relative;
      transition: ease 0.4s;
      display: block;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        margin: 8px 0;
      }

      &:nth-child(3) {
        top: 0;
      }
    }

    &._active {
      top: 32px;

      span {
        background-color: #fff;
      }

      span:nth-child(1) {
        top: 5px;
        transform: rotate(40deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        top: -13px;
        transform: rotate(-40deg);
      }
    }
  }
}

#top .header {
  &.is-top {
    position: fixed;
    background-color: transparent;
    border-bottom: none;

    ._navMain .header__nav--item > a,
    ._navSub .header__nav--item > a {
      color: #fff;
    }
    ._navSub .header__nav--item > a::before {
      background-color: #fff;
    }
  }
}

.icon-arrow._after {
  &::after {
    width: $size-24;
    height: 4px;
    @include icon-mask($path + "common/icon/icon-arrow.svg", $color-blue);
  }
}
